<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'الشهادة'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <app-shared-certification [formId]="formId" style="min-width: 75rem;max-width: 75rem;" *ngIf="role == 'Researchers'"></app-shared-certification>
    <app-shared-certification [formId]="formId" style="max-width: 74rem;" *ngIf="role != 'Researchers'"></app-shared-certification>
</div>