<div class="header-nav" style="margin-bottom: 20px">
    <app-loader *ngIf="Loader"></app-loader>
    <div class="header-nav" style="margin-bottom: -10px" *ngIf="role == 'Admin'">
        <div class="card-box d-flex flex-wrap align-items-center justify-content-between">
            <ul class="links">
                <li>
                    <a [routerLink]="['/FormDetails',formId,null]">{{coverForm.arName}}</a>
                </li>
            </ul>
            <div class="btns d-flex">
                <div class="btns d-flex">
                    <button *ngIf="coverForm.status == 1" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم الارسال للشركة
                    </button>
                    <button *ngIf="coverForm.status == 2" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم فتح رابط الاستمارة
                    </button>
                    <button *ngIf="coverForm.status == 3" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم البدا في تعبئة الاستمارة
                    </button>
                    <button *ngIf="coverForm.status == 4" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم حفظ الاستمارة
                    </button>
                    <button *ngIf="coverForm.status == 5" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم تعبئة الاستمارة
                    </button>
                    <button *ngIf="coverForm.status == 6" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم اغلاق الاستمارة
                    </button>
                    <button *ngIf="coverForm.status == 7" type="button" class="btnStatus" data-bs-toggle="modal"
                        data-bs-target="#sendFormCompany">
                        حالة الإستمارة : تم اعتماد الاستمارة
                    </button>
                </div>
                <button type="button" class="btn btn-send" data-bs-toggle="modal" data-bs-target="#sendFormCompany">
                    <img src="./images/list-box-outline.png" alt="">
                    الإرشادات
                </button>
            </div>
        </div>

    </div>
    <div class="companies user-home" *ngIf="role == 'Company' || role == 'Researchers'">
        <div class="header d-flex card-box">
            <div class="title">
                {{coverForm.arName}} </div>
            <div class="btns d-flex">
                <button *ngIf="coverForm.status == 1" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم الارسال للشركة
                </button>
                <button *ngIf="coverForm.status == 2" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم فتح رابط الاستمارة
                </button>
                <button *ngIf="coverForm.status == 3" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم البدا في تعبئة الاستمارة
                </button>
                <button *ngIf="coverForm.status == 4" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم حفظ الاستمارة
                </button>
                <button *ngIf="coverForm.status == 5" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم الموافقه على الاستمارة
                </button>
                <button *ngIf="coverForm.status == 6" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم اغلاق الاستمارة
                </button>
                <button *ngIf="coverForm.status == 7" type="button" class="btnStatus" data-bs-toggle="modal"
                    data-bs-target="#sendFormCompany">
                    حالة الإستمارة : تم اعتماد الاستمارة
                </button>
                <button type="button" class="btn btn-send" data-bs-toggle="modal" data-bs-target="#sendFormCompany">
                    <img src="./images/list-box-outline.png" alt="">
                    الإرشادات
                </button>
                <button *ngIf="role == 'Company'" type="button" class="btn btn-add" data-bs-toggle="modal"
                    data-bs-target="#addCompany">
                    <img src="./images/printer-outline.png" alt="">
                    طباعة pdf
                </button>
                <button *ngIf="role == 'Company'" type="button" class="btn btn-download">
                    <img src="./images/file-excel-outline.png" alt="">
                    تنزيل xls
                </button>
                <button
                    *ngIf="(role == 'Company' && coverForm.status <= 5 )"
                    type="button" class="btn btn-save" (click)="SaveData('Save',0)">
                    <img src="./images/content-save-outline.png" alt="">
                    حفظ
                </button>
                <button
                    *ngIf="role == 'Researchers' && coverForm.status <= 6"
                    type="button" class="btn btn-save" (click)="SaveData('Save',+companyId)">
                    <img src="./images/content-save-outline.png" alt="">
                    حفظ
                </button>
                <button *ngIf="role == 'Company' && coverForm.status <= 5" type="button" class="btn btn-accept"
                    (click)="SaveData('Approve',0)">
                    موافقة
                </button>
                <button *ngIf="role == 'Researchers' && coverForm.status < 7" type="button" class="btn btn-accept"
                    (click)="CompleteForm()">
                    إكتمال
                </button>
                <button *ngIf="role == 'Researchers' && coverForm.status <= 6" type="button" class="btn btn-exit"
                    (click)="CloseForm()">
                    إغلاق
                </button>
            </div>
        </div>
    </div>
    <div class="arrow-group table-responsive d-flex form-tabs" style="gap:15px;">
        <div class="clipped-element-first arrow" [ngClass]="{'active': isCoverActive}" (click)="activateCover()">
            <a *ngIf="!coverForm.typeQuarter" [routerLink]="['/FormDetails',formId, null,companyId]">الغلاف</a>
            <a *ngIf="coverForm.typeQuarter" [routerLink]="['/QuarterFormCover',formId, null,companyId]">الغلاف</a>
        </div>
        <div class="clipped-element-first arrow" [ngClass]="{'active': isWorkDataActive}" (click)="activateWorkData()">
            <a [routerLink]="['/WorkData',formId,companyId]">معاملات عامة</a>
        </div>
        <div class="clipped-element-first arrow" *ngFor="let table of coverForm.tables" [ngClass]="{'active': table.id == tableId}"
             (click)="TablesNavigation(table.id)"
            style="cursor: pointer !important;">
            <a>{{table.arName}}</a>
        </div>
        <div class="clipped-element-first arrow" [ngClass]="{'active': isCertificationActive}"
            (click)="activateWorkData()">
            <a [routerLink]="['/Certification',formId,companyId]">الشهادة</a>
        </div>
    </div>