<!-- header -->
<div class="header d-flex flex-wrap justify-content-between align-items-center">
    <h4 class="title">
        {{title}}
    </h4>
    <div class="user d-flex justify-content-between align-items-center">
        <button style="border: 1px solid;" type="button" class="btn " data-bs-toggle="modal">
            الصفحة الرئيسية
        </button>
        <div class="dropdown">
            <button type="button" class="btn lang" id="dropdownlang" data-bs-toggle="dropdown" aria-expanded="false">
                EN
                <!-- <i class="fa-solid fa-chevron-down"></i> -->
            </button>
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownlang">
                <li><a class="dropdown-item" href="#">En</a></li>
            </ul> -->
        </div>
        <a href="./notification.html" class="notification  active">
            <i class="fa-solid fa-bell"></i>
        </a>
        <div class="user-img">
            <img src=".././../../../assets/images/avatar.PNG" class="img-fluid">
        </div>
        <div class="dropdown">

            <button type="button" class="btn lang" id="dropdownlang" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="current-lang">أهلا بك {{arName}}</span>
                <i class="fa-solid fa-chevron-down"></i>

            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownlang">
                <li><a class="dropdown-item second-lang" href="#">الملف الشخصي </a></li>
                <li><a class="dropdown-item second-lang" (click)="LogOut()">تسجيل الخروج</a></li>

            </ul>

        </div>

    </div>
</div>