<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [table]="table"></app-navigate-tables-types>
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    {{table.arName}}
                </div>
                <div class="title flex-fill en">
                    {{table.enName}}
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header boldBorderRow">
                            <th class="text-end" scope="col" style="min-width: 240px;">{{table.arHeading}}</th>
                            <th class="text-center" scope="col">نهاية عام Year-end {{coverForm.reviewYear}}</th>
                            <th class="text-center" scope="col">نهاية عام Year-end {{+coverForm.reviewYear - 1}}
                            </th>
                            <th class="text-center">ملكية رأس المال في نهاية Percentage of
                                ownership {{+coverForm.reviewYear}}</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-start" scope="col" style="min-width: 240px;">{{table.enHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let formContent of table.formContents; let index = index">
                            <ng-container *ngIf="formContent.IsActive">

                                <tr class="parent boldBorderRow">
                                    <td style="text-wrap: balance;">
                                        <div class="content-container">
                                            <span class="ar-name">
                                                {{formContent.code.arName}}
                                            </span>
                                            <ng-container
                                                *ngIf="!(formContent.code.SubCodes.length === 0 && (formContent.code.TypeId === 1 || formContent.code.TypeId === 4)) 
                                                            && !(formContent.code.SubCodes.length > 0 && formContent.code.SubCodes[0].IsTrueAndFalse === true)">
                                                <span class="total" data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                                    اجمالي <i class="fa-solid fa-circle-question"></i>
                                                </span>
                                            </ng-container>
                                            <ng-container
                                                *ngIf="formContent.code.TypeId != 1 && formContent.code.TypeId != 4">
                                                <button *ngIf="formContent.code.TypeId == 2" class="add-button"
                                                    (click)="addSubCodeRow(formContent.code,index,'sector')">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="formContent.code.TypeId == 3" class="add-button"
                                                    (click)="addSubCodeRow(formContent.code,index,'country')">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="formContent.code.TypeId == 5" class="add-button"
                                                    (click)="addSubCodeRow(formContent.code,index)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </ng-container>
                                        </div>
                                    </td>
                                    <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="table.tableParts.length">
                                        <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="true" checked
                                            name="yesNoOption_{{formContent.code.Id}}"> نعم
                                        <label class="mt-3"></label>
                                    </td>
                                    <td *ngIf="formContent.code.TypeId == 4"></td>
                                    <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="table.tableParts.length">
                                        <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="false"
                                            name="yesNoOption_{{formContent.code.Id}}"> لا
                                        <label class="mt-3"></label>
                                    </td>

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <input type="number"
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                class="tableInputParent" [(ngModel)]="formContent.values[0]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 0)"
                                                (blur)="restoreIfNotPositive(formContent.values, 0)" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <input type="number" class="tableInputParent"
                                                [(ngModel)]="formContent.values[0]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 0)"
                                                (blur)="restoreIfNotPositive(formContent.values, 0)" />
                                        </ng-container>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <input type="number"
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                class="tableInputParent" [(ngModel)]="formContent.values[1]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 1)"
                                                (blur)="restoreIfNotPositive(formContent.values, 1)" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <input type="number" class="tableInputParent"
                                                [(ngModel)]="formContent.values[1]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 1)"
                                                (blur)="restoreIfNotPositive(formContent.values, 1)" />
                                        </ng-container>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <span *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"> %
                                            </span>
                                            <input type="number"
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                class="tableInputParent" [(ngModel)]="formContent.values[2]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 2)"
                                                (blur)="restoreIfNotPositive(formContent.values, 2)" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <span> % </span>
                                            <input type="number" class="tableInputParent"
                                                [(ngModel)]="formContent.values[2]"
                                                (input)="changeStatus(coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 2)"
                                                (blur)="restoreIfNotPositive(formContent.values, 2)" />
                                        </ng-container>
                                    </td>
                                    <td class="text-center">
                                        <input type="text" disabled value="{{formContent.code.QuestionCode}}" />
                                    </td>
                                    <td style="text-wrap: balance; direction: ltr;" class="text-start">
                                        {{formContent.code.enName}}</td>
                                </tr>
                                <ng-container>
                                    <ng-container
                                        *ngFor="let subCode of formContent.code.SubCodes; let indexSub = index">

                                        <tr class=" boldBorderRow">
                                            <td *ngIf="formContent.code.TypeId == 1"
                                                style="text-wrap: balance; text-align: center !important;color: #00af9d;">
                                                {{subCode.arName}}
                                                <button *ngIf="subCode.IsHdd == true" class="add-button"
                                                    style="display: inline-block; padding: 1px 10px;"
                                                    (click)="addSubCodeToSubRow(subCode)">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <span *ngIf="subCode.IsHdd == true" style="float: left;" class="total"
                                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                                    title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                                    اجمالي <i class="fa-solid fa-circle-question"></i></span>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                                <div style="display: flex;">

                                                    <!-- Searchable Dropdown -->
                                                    <div class="dropdown"
                                                        [class.show]="getFilteredIsDropdownOpenSector(index,indexSub,0)"
                                                        style="width: 95%; position: relative;">
                                                        <input type="text" id="searchableDropdown"
                                                            class="form-control input-modal w-100"
                                                            placeholder="ابحث عن قطاع"
                                                            (click)="toggleDropdownCountry(index,indexSub,0)"
                                                            [(ngModel)]="subCode.arName"
                                                            (input)="filterCountry(subCode.arName,index,indexSub,'sector',0)" />
                                                        <ul class="dropdown-menu"
                                                            *ngIf="getFilteredIsDropdownOpenSector(index,indexSub,0)"
                                                            style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                            <li *ngFor="let sector of getFiltered(index,indexSub,0)"
                                                                class="dropdown-item"
                                                                (click)="selectSector(subCode,sector)">
                                                                {{ sector.code }}-{{ sector.arName }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <button (click)="removeSubCodeRow(formContent, subCode)"
                                                        style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png"
                                                            class="img-fluid">
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                                <div
                                                    style="display: flex; align-items: center; justify-content: space-between; gap: 0px; flex-wrap: wrap;">

                                                    <!-- Arabic Name Dropdown -->
                                                    <div class="dropdown"
                                                        [class.show]="getFilteredIsDropdownOpen(index,indexSub,0)"
                                                        style="width: 43%; position: relative;">
                                                        <input type="text" id="searchableDropdown"
                                                            class="form-control input-modal w-100"
                                                            placeholder="ابحث عن مصدر المال"
                                                            (click)="toggleDropdownCountry(index,indexSub,0)"
                                                            [(ngModel)]="subCode.arName1"
                                                            (input)="filterCountry(subCode.arName1,index,indexSub,'country',0)" />
                                                        <ul class="dropdown-menu"
                                                            *ngIf="getFilteredIsDropdownOpen(index,indexSub,0)"
                                                            style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                            <li *ngFor="let country of getFiltered(index,indexSub,0)"
                                                                class="dropdown-item"
                                                                (click)="selectCountry1(subCode,country)">
                                                                {{ country.arName }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <!-- Searchable Dropdown -->
                                                    <div class="dropdown"
                                                        [class.show]="getFilteredIsDropdownOpen(index,indexSub,1)"
                                                        style="width: 43%; position: relative;">
                                                        <input type="text" id="searchableDropdown"
                                                            class="form-control input-modal w-100"
                                                            placeholder="ابحث عن جنسية المستثمر"
                                                            (click)="toggleDropdownCountry(index,indexSub,1)"
                                                            [(ngModel)]="subCode.arName"
                                                            (input)="filterCountry(subCode.arName,index,indexSub,'country',1)" />
                                                        <ul class="dropdown-menu"
                                                            *ngIf="getFilteredIsDropdownOpen(index,indexSub,1)"
                                                            style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                            <li *ngFor="let country of getFiltered(index,indexSub,1)"
                                                                class="dropdown-item"
                                                                (click)="selectCountry(subCode,country)">
                                                                {{ country.arName }}
                                                            </li>
                                                        </ul>
                                                    </div>


                                                    <!-- Delete Button -->
                                                    <button (click)="removeSubCodeRow(formContent, subCode)"
                                                        style="background-color: transparent; border: none; padding: 5px;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png"
                                                            class="img-fluid" alt="Remove"
                                                            style="width: 20px; height: 20px;">
                                                    </button>

                                                </div>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 5">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;"
                                                        [(ngModel)]="subCode.arName" />
                                                    <button (click)="removeSubCodeRow(formContent, subCode)"
                                                        style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png"
                                                            class="img-fluid">
                                                    </button>
                                                </div>

                                            </td>
                                            <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="table.tableParts.length">
                                                <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="true"
                                                    checked name="yesNoSubOption_{{subCode.Id}}"> نعم
                                                <label class="mt-3"></label>
                                            </td>
                                            <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="table.tableParts.length">
                                            </td>
                                            <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="table.tableParts.length">
                                                <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="false"
                                                    name="yesNoSubOption_{{subCode.Id}}"> لا
                                                <label class="mt-3"></label>
                                            </td>
                                            <td class="text-center" *ngIf="!subCode.IsTrueAndFalse">
                                                <input type="number" [(ngModel)]="subCode.values[0]"
                                                    (input)="changeStatus(coverForm.status)"
                                                    (focus)="clearIfZero(subCode.values, 0)"
                                                    (blur)="restoreIfNotPositive(subCode.values, 0)"
                                                    (input)="handleParent(formContent)" [disabled]="subCode.IsHdd" />
                                            </td>
                                            <td class="text-center" *ngIf="!subCode.IsTrueAndFalse">
                                                <input type="number" [(ngModel)]="subCode.values[1]"
                                                    (input)="changeStatus(coverForm.status)"
                                                    (focus)="clearIfZero(subCode.values, 1)"
                                                    (blur)="restoreIfNotPositive(subCode.values, 1)"
                                                    (input)="handleParent(formContent)" [disabled]="subCode.IsHdd" />
                                            </td>
                                            <td class="text-center" *ngIf="!subCode.IsTrueAndFalse">
                                                <span> % </span>
                                                <input type="number" [(ngModel)]="subCode.values[2]"
                                                    (input)="changeStatus(coverForm.status)"
                                                    (focus)="clearIfZero(subCode.values, 2)"
                                                    (blur)="restoreIfNotPositive(subCode.values, 2)"
                                                    (input)="handleParent(formContent)" [disabled]="subCode.IsHdd" />
                                            </td>
                                            <td class="text-center">
                                                <input type="text" disabled value="{{subCode.QuestionCode}}" />
                                            </td>
                                            <td class="text-start" *ngIf="formContent.code.TypeId == 1"
                                                style="text-wrap: balance; text-align: center !important; color: #00af9d; direction: ltr;">
                                                {{subCode.enName}}</td>
                                                <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                                    <div class="dropdown"
                                                        [class.show]="getFilteredIsDropdownOpenSector(index,indexSub,1)"
                                                        style="width: 95%; position: relative;">
                                                        <input type="text" id="searchableDropdown"
                                                            class="form-control input-modal w-100"
                                                            placeholder="Search for sector"
                                                            (click)="toggleDropdownCountry(index,indexSub,1)"
                                                            [(ngModel)]="subCode.enName"
                                                            (input)="filterCountry(subCode.enName,index,indexSub,'sector',1)" />
                                                        <ul class="dropdown-menu"
                                                            *ngIf="getFilteredIsDropdownOpenSector(index,indexSub,1)"
                                                            style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                            <li *ngFor="let sector of getFiltered(index,indexSub,1)"
                                                                class="dropdown-item"
                                                                (click)="selectSector(subCode,sector)">
                                                                {{ sector.code }}-{{ sector.enName }}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                                    <div style="display: flex;">
                                                        <div class="dropdown"
                                                            [class.show]="getFilteredIsDropdownOpen(index,indexSub,2)"
                                                            style="width: 45%; position: relative;">
                                                            <input type="text" id="searchableDropdown"
                                                                class="form-control input-modal w-100"
                                                                placeholder="Search on investor nationality"
                                                                (click)="toggleDropdownCountry(index,indexSub,2)"
                                                                [(ngModel)]="subCode.enName"
                                                                (input)="filterCountry(subCode.enName,index,indexSub,'country',2)" />
                                                            <ul class="dropdown-menu"
                                                                *ngIf="getFilteredIsDropdownOpen(index,indexSub,2)"
                                                                style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                                <li *ngFor="let country of getFiltered(index,indexSub,2)"
                                                                    class="dropdown-item"
                                                                    (click)="selectCountry(subCode,country)">
                                                                    {{ country.enName }}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="dropdown"
                                                            [class.show]="getFilteredIsDropdownOpen(index,indexSub,3)"
                                                            style="width: 45%; position: relative;margin: 0px 5px;">
                                                            <input type="text" id="searchableDropdown"
                                                                class="form-control input-modal w-100"
                                                                placeholder="Search on Source of money"
                                                                (click)="toggleDropdownCountry(index,indexSub,3)"
                                                                [(ngModel)]="subCode.enName1"
                                                                (input)="filterCountry(subCode.enName1,index,indexSub,'country',3)" />
                                                            <ul class="dropdown-menu"
                                                                *ngIf="getFilteredIsDropdownOpen(index,indexSub,3)"
                                                                style="width: 100%; max-height: 200px; overflow-y: auto; position: absolute; top: 100%; left: 0; z-index: 1; display: blick;">
                                                                <li *ngFor="let country of getFiltered(index,indexSub,3)"
                                                                    class="dropdown-item"
                                                                    (click)="selectCountry1(subCode,country)">
                                                                    {{ country.enName }}
                                                                </li>
                                                            </ul>
                                                        </div>
    
                                                    </div>
                                                </td>
                                            <td class="text-center" style=" direction: ltr;"
                                                *ngIf="formContent.code.TypeId == 5">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;"
                                                        [(ngModel)]="subCode.enName" />
                                                </div>

                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let _subCode of subCode.subCodes">
                                            <tr *ngIf="subCode.IsHdd == true" class=" boldBorderRow">
                                                <td class="text-center">
                                                    <div style="display: flex;justify-content: center;">
                                                        <input type="text" style="width: 220px !important;"
                                                            [(ngModel)]="_subCode.arName" [disabled]="(subCode.QuestionCode=='50324' && (_subCode.QuestionCode=='503241'||_subCode.QuestionCode=='503242'||_subCode.QuestionCode=='503243' 
                                                            ||_subCode.QuestionCode=='503299')) || (subCode.QuestionCode=='5020' && (_subCode.QuestionCode=='5021'
                                                            ||_subCode.QuestionCode=='5022'||_subCode.QuestionCode=='5023' ||_subCode.QuestionCode=='5024'
                                                            ||_subCode.QuestionCode=='5025'||_subCode.QuestionCode=='5029'))"/>
                                                        <button *ngIf="!((subCode.QuestionCode=='50324' && (_subCode.QuestionCode=='503241'||_subCode.QuestionCode=='503242'||_subCode.QuestionCode=='503243' 
                                                        ||_subCode.QuestionCode=='503299')) || (subCode.QuestionCode=='5020' && (_subCode.QuestionCode=='5021'
                                                        ||_subCode.QuestionCode=='5022'||_subCode.QuestionCode=='5023' ||_subCode.QuestionCode=='5024'
                                                        ||_subCode.QuestionCode=='5025'||_subCode.QuestionCode=='5029')))"
                                                            (click)="removeSubCodeFromSubRow(formContent,subCode,_subCode,indexSub)"
                                                            style="background-color: white; border:none;">
                                                            <img src=".././../../../assets/images/trash-can-outline.png"
                                                                class="img-fluid">
                                                        </button>
                                                    </div>
                                                </td>
                                                <td class="text-center"><input type="number"
                                                        [(ngModel)]="_subCode.values[0]"
                                                        (focus)="clearIfZero(_subCode.values, 0)"
                                                        (blur)="restoreIfNotPositive(_subCode.values, 0)"
                                                        (input)="handelSupParent(formContent,subCode,indexSub)" /></td>
                                                <td class="text-center"><input type="number"
                                                        [(ngModel)]="_subCode.values[1]"
                                                        (focus)="clearIfZero(_subCode.values, 1)"
                                                        (blur)="restoreIfNotPositive(_subCode.values, 1)"
                                                        (input)="handelSupParent(formContent,subCode,indexSub)" /></td>
                                                <td class="text-center"><span> % </span>
                                                    <input type="number" [(ngModel)]="_subCode.values[2]"
                                                        (focus)="clearIfZero(_subCode.values, 2)"
                                                        (blur)="restoreIfNotPositive(_subCode.values, 2)"
                                                        (input)="handelSupParent(formContent,subCode,indexSub)" />
                                                </td>
                                                <td class="text-center">
                                                    <input disabled type="text" value="{{_subCode.QuestionCode}}" />
                                                <td class="text-center" style=" direction: ltr;">
                                                    <div style="display: flex;justify-content: center;">
                                                        <input type="text" style="width: 220px !important;"
                                                            [(ngModel)]="_subCode.enName" [disabled]="(subCode.QuestionCode=='50324' && (_subCode.QuestionCode=='503241'||_subCode.QuestionCode=='503242'||_subCode.QuestionCode=='503243' 
                                                            ||_subCode.QuestionCode=='503299')) || (subCode.QuestionCode=='5020' && (_subCode.QuestionCode=='5021'
                                                            ||_subCode.QuestionCode=='5022'||_subCode.QuestionCode=='5023' ||_subCode.QuestionCode=='5024'
                                                            ||_subCode.QuestionCode=='5025'||_subCode.QuestionCode=='5029'))"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr class="footer boldBorderRow" *ngIf="table.IsTotal" style="background: #d3fffb33;">
                            <td style="background: #d3fffb33;">{{table.totalTitleAr}}</td>
                            <td style="background: #d3fffb33;" class="text-center"
                                [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''">
                                <input disabled type="number" [value]="getSumOfValues(0)" />
                            </td>
                            <!-- Sum of formContent.values[0] -->
                            <td class="text-center" style="color: black;background: #d3fffb33;">
                                <input style="background: #d3fffb33;color: black;" disabled type="number"
                                    [value]="getSumOfValues(1)" />
                            </td>

                            <td style="background: #d3fffb33;" class="text-center">
                            </td>
                            <td style="background: #d3fffb33;" class="text-center">
                                <input style="background: #d3fffb33;" type="number" disabled placeholder="0"
                                    [value]="999" />
                            </td>

                            <td style="background: #d3fffb33;" class="text-start">{{table.totalTitleEn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->

        <!-- start footer -->
        <footer class="projection-notes d-flex flex-wrap my-3 card-box">
            <div class="col-sm-6 footer-ar">
                <p [innerHTML]="table.arNotes"></p>

            </div>
            <div class="col-sm-6 footer-en">
                <p [innerHTML]="table.enNotes"></p>

            </div>
        </footer>
        <!-- end footer -->

        <!-- end content -->
    </div>
</div>