<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
  <!-- header -->
  <app-top-screen [title]="'عرض الاستمارة'"></app-top-screen>
  <!-- end-header -->
  <!-- start content -->
  <div class="companies-details form-details prev-form">
    <div class="header-nav" style="margin-bottom: -10px">
      <app-navigate-tables-types [coverForm]="coverForm"></app-navigate-tables-types>
      <!-- start table -->
      <div class="content companies projection-table">
        <div class="header d-flex flex-wrap">
          <div class="title flex-fill">
          </div>
          <div class="title flex-fill en">
          </div>
        </div>
        <div class="table-responsive company-table">
          <table class="table table-borderless">
            <thead>
              <tr class="t-header">
                <th scope="col"></th>
                <th class="text-center" scope="col">Total الاجمالى</th>
                <ng-container>
                  <th class="text-center" scope="col">
                  </th>
                </ng-container>
                <th class="text-center" scope="col">الرمز Code</th>
                <th class="text-start" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container>
                <tr>
                  <td></td>
                  <td class="text-center">
                    <input type="number" placeholder="0" />
                  </td>
                  <ng-container>
                    <td class="text-center">
                      <input type="number" placeholder="0" />
                    </td>
                  </ng-container>

                  <td class="text-center">
                    <input disabled type="text" />
                  </td>
                  <td class="text-start">Externally generated funds</td>
                </tr>
              </ng-container>
              <tr class="footer">
                <td>الاجمالى</td>
                <td class="text-center">
                  <input type="number" placeholder="0" />
                </td>
                <ng-container>
                  <td class="text-center">
                    <input type="number" placeholder="0" />
                  </td>
                </ng-container>

                <td class="text-center">
                  <input type="text" value="900" />
                </td>
                <td class="text-start">Total</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end table -->

      <!-- start footer -->
      <footer class="projection-notes d-flex flex-wrap my-3 card-box">
        <p class="ar flex-fill">
        </p>
        <p class="en flex-fill">
        </p>
      </footer>
      <!-- end footer -->

      <!-- end content -->
    </div>
  </div>
</div>