<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card" style="height: 500px;"> <!-- إضافة height للحاوية -->
  <app-top-screen [title]="'الرئيسيه'"></app-top-screen>

  <!-- tabs -->
  <div class="tabs">
    <ul class="nav nav-pills mb-3">
      <li class="nav-item">
        <a routerLink="/Home" class="nav-link ms-0 d-flex" type="button">
          <i class="fa-solid fa-square-poll-vertical icon"></i>
          المؤشرات العامة
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/HomeMap" class="nav-link ms-0 d-flex" type="button">
          <i class="fa-regular fa-map icon"></i>
          خريطة عمان
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/Audit" class="nav-link ms-0 active d-flex" type="button">
          <i class="fa-solid fa-table icon"></i>
          تدقيق
        </a>
      </li>
    </ul>
  </div>
  <div class="alert alert-warning p-1 col-md-6 col-xl-4 text-center mx-auto">
    <span style="display: block;">
      <i class="fa-regular fa-bell"></i> نسبة التغير العامه هي {{changePercentage}} %
    </span>
    <span style="display: block;">
      <i class="fa-regular fa-bell"></i> البيانات في الجدول تعبر عن المسح لسنة ({{currentYear}})
    </span>
  </div>
  

  <!-- start content -->
  <div class="content companies researcher">
    <div class="table-responsive company-table research-table">
      <div class="table-container">

        <table class="table table-borderless">
          <thead>
            <tr class="t-header">
              <th class="text-center" scope="col"></th>
              <th class="text-center" scope="col">اسم الشركه</th>
              <th class="text-center" scope="col">اسم المؤشر</th>
              <th class="text-center" scope="col">كود المؤشر</th>
              <th class="text-center" scope="col">{{currentYear}}</th>
              <th class="text-center" scope="col">{{currentYear-1}}</th>
              <th class="text-center" scope="col">نسبة التغير </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of getAuditDtoPagination; let i = index">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">{{category.companyName}}</td>
              <td class="text-center">{{category.codeArName}}</td>
              <td class="text-center">{{category.questionCode}}</td>
              <td class="text-center">{{category.valueCurrentYear}}</td>
              <td class="text-center">{{category.valuePreviousYear}}</td>
              <td class="text-center">{{category.changePercentageNew}} %</td>
            </tr>
          </tbody>
          <tfoot *ngIf="!(getAuditDto.length>0)">
          <tr>
            <th colspan="7">
              <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <br />
                <span> لا يوجد بيانات </span>
              </div>
            </th>
          </tr>
        </tfoot>
        </table>
      </div>
    </div>
  </div>

  <!-- end content -->
  
<div class="pagination" *ngIf="getAuditDto.length>0">
  <ul>
    <li (click)="onPageChange(1)" [class.disabled]="currentPage===1">&laquo;&laquo;</li>
    <li (click)="onPageChange(currentPage - 1)" [class.disabled]="currentPage === 1">&laquo;</li>
    <li *ngIf="currentPage > 1" (click)="onPageChange(currentPage - 1)">{{ currentPage - 1 }}</li>
    <li class="active">{{ currentPage }}</li>
    <li *ngIf="!isLastPage" (click)="onPageChange(currentPage + 1)">{{ currentPage + 1 }}</li>
    <li (click)="onPageChange(currentPage + 1)" [class.disabled]="isLastPage">&raquo;</li>
    <li (click)="onPageChange(totalPages)" [class.disabled]="currentPage===totalPages">&raquo;&raquo;</li>
  </ul>
</div>
</div>
