<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card" style="height: 500px;"> <!-- إضافة height للحاوية -->
  <app-top-screen [title]="'الرئيسيه'"></app-top-screen>

  <!-- tabs -->
  <div class="tabs">
    <ul class="nav nav-pills mb-3">
      <li class="nav-item">
        <a routerLink="/Home" class="nav-link ms-0 d-flex" type="button">
          <i class="fa-solid fa-square-poll-vertical icon"></i>
          المؤشرات العامة
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/HomeMap" class="nav-link ms-0 d-flex" type="button">
          <i class="fa-regular fa-map icon"></i>
          خريطة عمان
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/Audit" class="nav-link ms-0 active d-flex" type="button">
          <i class="fa-solid fa-table icon"></i>
          تدقيق
        </a>
      </li>
    </ul>
  </div>
  <!-- start content -->
  <div class="content companies researcher">
    <div class="table-responsive company-table research-table">
      <table class="table table-borderless">
        <thead>
          <tr class="t-header">
            <th class="text-center" scope="col">اسم الشركه</th>
            <th class="text-center" scope="col">اسم المؤشر</th>
            <th class="text-center" scope="col">كود المؤشر</th>
            <th class="text-center" scope="col">نسبة التغير الناتجه عن فرق السنه الحاله والسنه السابقه</th>
            <th style="width: 150px;" class="text-center" scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of getAuditDto">
            <td class="text-center">{{category.companyName}}</td>
            <td class="text-center">{{category.codeArName}}</td>
            <td class="text-center">{{category.questionCode}}</td>
            <td class="text-center">{{category.changePercentageNew}}</td>
          </tr>
        </tbody>
        <!-- <tfoot *ngIf="noData">
          <tr>
            <th colspan="7">
              <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <br />
                <span> لا يوجد بيانات </span>
              </div>
            </th>
          </tr>
        </tfoot> -->
      </table>
    </div>
  </div>
  <!-- end content -->
</div>
