<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [table]="table"></app-navigate-tables-types>
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    {{table.arName}}
                </div>
                <div>
                    <input class="mx-1" type="checkbox" (change)="onCheckboxChange($event,1)">
                    <span>اخفاء الربع الاول</span>
                </div>
                <div>
                    <input class="mx-1" type="checkbox" (change)="onCheckboxChange($event,2)">
                    <span>اخفاء الربع الثاني</span>
                </div>
                <div>
                    <input class="mx-1" type="checkbox" (change)="onCheckboxChange($event,3)">
                    <span>اخفاء الربع الثالث</span>
                </div>
                <div>
                    <input class="mx-1" type="checkbox" (change)="onCheckboxChange($event,4)">
                    <span>اخفاء الربع الرابع</span>
                </div>
                <div class="title flex-fill en">
                    {{table.enName}}
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="min-width: 250px;">{{table.arHeading}}</th>
                            <th class="text-center quarter4" scope="col" *ngIf="!isCollapsedColumns[4]">
                                30.012.{{+coverForm.reviewYear + 1}} Position
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[4]"
                                [ngClass]="coverForm.typeQuarter == 4?'transaction' : ''" scope="col">
                                <div class="transaction-controls">
                                    <span>Transactions</span>
                                </div>
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[3]"
                                [ngClass]="coverForm.typeQuarter == 3?'quarter' : ''" scope="col">
                                30.09.{{+coverForm.reviewYear + 1}} Position
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[3]"
                                [ngClass]="coverForm.typeQuarter == 3?'transaction' : ''" scope="col">
                                <div class="transaction-controls">
                                    <span>Transactions</span>
                                </div>
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[2]"
                                [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''" scope="col">
                                30.06.{{+coverForm.reviewYear + 1}} Position
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[2]"
                                [ngClass]="coverForm.typeQuarter == 2?'transaction' : ''" scope="col">
                                <div class="transaction-controls">
                                    <span>Transactions</span>
                                </div>
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[1]"
                                [ngClass]="coverForm.typeQuarter == 1?'quarter' : ''" scope="col">
                                30.03.{{+coverForm.reviewYear + 1}} Position
                            </th>
                            <th class="text-center" *ngIf="!isCollapsedColumns[1]"
                                [ngClass]="coverForm.typeQuarter == 1?'transaction' : ''" scope="col">
                                <div class="transaction-controls">
                                    <span>Transactions</span>
                                </div>
                            </th>
                            <th class="text-center" scope="col" style="color: black;">Year End {{coverForm.reviewYear}}
                                Position</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-start" scope="col" style="min-width: 250px;">{{table.enHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let formContent of table.formContents">
                            <tr class="parent">
                                <td style="text-wrap: balance;">
                                    <div class="content-container">
                                        <span class="ar-name">
                                            {{formContent.code.arName}}
                                        </span>
                                        <span
                                            *ngIf="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                            class="total" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                            اجمالي <i class="fa-solid fa-circle-question"></i>
                                        </span>
                                        <button *ngIf="formContent.code.TypeId != 1 && formContent.code.TypeId != 4"
                                            class="add-button" (click)="addSubCodeRow(formContent.code)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="4">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="true"
                                        name="yesNoOption_{{formContent.code.Id}}"> نعم
                                    <label class="mt-3"></label>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="5">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="false"
                                        name="yesNoOption_{{formContent.code.Id}}"> لا
                                    <label class="mt-3"></label>
                                </td>
                                <ng-container *ngIf="!isCollapsedColumns[4]">
                                    <ng-container *ngIf="formContent.code.SubCodes.length>0">

                                        <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                            [ngClass]="coverForm.typeQuarter == 4?'quarter' : ''"><input
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                [ngClass]="coverForm.typeQuarter == 4?'quarter' : ''"
                                                [disabled]="coverForm.typeQuarter < 4|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                                [(ngModel)]="formContent.values[4]"
                                                (focus)="clearIfZero(formContent.values, 4)"
                                                (blur)="restoreIfNotPositive(formContent.values, 4)"
                                                (input)="changeStatus(coverForm.status)"
                                                 />
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                            [ngClass]="coverForm.typeQuarter == 4?'transaction' : ''"><input
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                [ngClass]="coverForm.typeQuarter == 4?'transaction' : ''" disabled
                                                [value]="formContent.values[4] - formContent.values[3]" /></td>
                                    </ng-container>
                                    <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                        <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                            [ngClass]="coverForm.typeQuarter == 4?'quarter' : ''"><input
                                                [ngClass]="coverForm.typeQuarter == 4?'quarter' : ''"
                                                [disabled]="coverForm.typeQuarter < 4|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                                [(ngModel)]="formContent.values[4]"
                                                (focus)="clearIfZero(formContent.values, 4)"
                                                (blur)="restoreIfNotPositive(formContent.values, 4)"
                                                (input)="changeStatus(coverForm.status)"
                                                 />
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                            [ngClass]="coverForm.typeQuarter == 4?'transaction' : ''"><input
                                                [ngClass]="coverForm.typeQuarter == 4?'transaction' : ''" disabled
                                                [value]="formContent.values[4] - formContent.values[3]" /></td>
                                    </ng-container>


                                </ng-container>
                                <ng-container *ngIf="!isCollapsedColumns[3]">
                                    <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 3?'quarter' : ''"><input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                            [ngClass]="coverForm.typeQuarter == 3?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 3|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                            [(ngModel)]="formContent.values[3]"
                                            (focus)="clearIfZero(formContent.values, 3)"
                                            (blur)="restoreIfNotPositive(formContent.values, 3)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 3?'transaction' : ''"><input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"

                                            [ngClass]="coverForm.typeQuarter == 3?'transaction' : ''" disabled
                                            [value]="formContent.values[3] - formContent.values[2]" /></td>
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 3?'quarter' : ''"><input
                                            [ngClass]="coverForm.typeQuarter == 3?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 3|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                            [(ngModel)]="formContent.values[3]"
                                            (focus)="clearIfZero(formContent.values, 3)"
                                            (blur)="restoreIfNotPositive(formContent.values, 3)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 3?'transaction' : ''"><input
                                            [ngClass]="coverForm.typeQuarter == 3?'transaction' : ''" disabled
                                            [value]="formContent.values[3] - formContent.values[2]" /></td>
                                        </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!isCollapsedColumns[2]">
                                    <ng-container *ngIf="formContent.code.SubCodes.length>0">

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"><input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                        [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 2|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                            [(ngModel)]="formContent.values[2]"
                                            (focus)="clearIfZero(formContent.values, 2)"
                                            (blur)="restoreIfNotPositive(formContent.values, 2)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 2?'transaction' : ''"><input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                        [ngClass]="coverForm.typeQuarter == 2?'transaction' : ''" disabled
                                            [value]="formContent.values[2] - formContent.values[1]" /></td>
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"><input
                                            [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 2|| !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" type="number"
                                            [(ngModel)]="formContent.values[2]"
                                            (focus)="clearIfZero(formContent.values, 2)"
                                            (blur)="restoreIfNotPositive(formContent.values, 2)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 2?'transaction' : ''"><input
                                            [ngClass]="coverForm.typeQuarter == 2?'transaction' : ''" disabled
                                            [value]="formContent.values[2] - formContent.values[1]" /></td>
                                        </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!isCollapsedColumns[1]">
                                    <ng-container *ngIf="formContent.code.SubCodes.length>0">

                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 1?'quarter' : ''"><input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                            [ngClass]="coverForm.typeQuarter == 1?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 1 || !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                             type="number"
                                            [(ngModel)]="formContent.values[1]"
                                            (focus)="clearIfZero(formContent.values, 1)"
                                            (blur)="restoreIfNotPositive(formContent.values, 1)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>
                                    <td class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                        <input
                                        *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                         [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''" disabled
                                            type="number" [value]="formContent.values[1] - formContent.values[0]" />
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                    <td class="text-center" *ngIf="formContent.code.TypeId != 4"
                                        [ngClass]="coverForm.typeQuarter == 1?'quarter' : ''"><input
                                            [ngClass]="coverForm.typeQuarter == 1?'quarter' : ''"
                                            [disabled]="coverForm.typeQuarter < 1 || !(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                             type="number"
                                            [(ngModel)]="formContent.values[1]"
                                            (focus)="clearIfZero(formContent.values, 1)"
                                            (blur)="restoreIfNotPositive(formContent.values, 1)"
                                            (input)="changeStatus(coverForm.status)"
                                             />
                                    </td>
                                    <td class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                        <input [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''" disabled
                                            type="number" [value]="formContent.values[1] - formContent.values[0]" />
                                    </td>
                                </ng-container>
                                </ng-container>
                                <ng-container *ngIf="formContent.code.SubCodes.length>0">

                                <td style="color: black;" *ngIf="formContent.code.TypeId != 4" class="text-center">
                                    <input
                                    *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                     style="color: black;" type="number" [(ngModel)]="formContent.values[0]"
                                        (focus)="clearIfZero(formContent.values, 0)"
                                        (blur)="restoreIfNotPositive(formContent.values, 0)"
                                        (input)="changeStatus(coverForm.status)"
                                        [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" />
                                </td>
                            </ng-container>
                            <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                <td style="color: black;" *ngIf="formContent.code.TypeId != 4" class="text-center">
                                    <input style="color: black;" type="number" [(ngModel)]="formContent.values[0]"
                                        (focus)="clearIfZero(formContent.values, 0)"
                                        (blur)="restoreIfNotPositive(formContent.values, 0)"
                                        (input)="changeStatus(coverForm.status)"
                                        [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)" />
                                </td>
                            </ng-container>
                                <td class="text-center" *ngIf="formContent.code.TypeId != 4">
                                    <input type="text" disabled value="{{formContent.code.QuestionCode}}" />
                                </td>
                                <td class="text-start" style="text-wrap: balance;min-width: 250px; direction: ltr;">
                                    {{formContent.code.enName}}</td>
                            </tr>
                            <ng-container *ngFor="let subCode of formContent.code.SubCodes; let indexSub = index">
                                <tr>
                                    <td *ngIf="formContent.code.TypeId == 1" class="sub-list-item"
                                        style="text-align: center; color: #00af9d; text-wrap: balance;">{{
                                        subCode.arName }}
                                        <button *ngIf="subCode.IsHdd == true" class="add-button"
                                            style="display: inline-block; padding: 1px 10px;"
                                            (click)="addSubCodeToSubRow(subCode)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <span *ngIf="subCode.IsHdd == true" style="float: left;" class="total"
                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                            اجمالي <i class="fa-solid fa-circle-question"></i>
                                        </span>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                        <div style="display: flex;">
                                            <select class="form-control"
                                                style="text-align:center; width: 95% !important;"
                                                [(ngModel)]="subCode.arName">
                                                <option value="">اختيار نشاط--</option>
                                                <option *ngFor="let activity of activities" value="{{activity.id}}">
                                                    {{activity.code}}-{{activity.arName}}</option>
                                            </select>
                                            <button (click)="removeSubCodeRow(formContent.code, subCode)"
                                                style="background-color: white; border:none;">
                                                <img src=".././../../../assets/images/trash-can-outline.png"
                                                    class="img-fluid">
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                        <div style="display: flex;">
                                            <select class="form-control" [(ngModel)]="subCode.arName"
                                                (ngModelChange)="onArCountryChange(subCode)"
                                                style="width: 47% !important; text-align:center;margin: 5px;">
                                                <option value="">اختيار مصدر المال--</option>
                                                <option *ngFor="let country of countries" [value]="country.arName">
                                                    {{country.code}}-{{country.arName}}</option>
                                            </select>
                                            <select class="form-control" [(ngModel)]="subCode.enName"
                                                (ngModelChange)="onEnCountryChange(subCode)"
                                                style="width: 47% !important; text-align:center">
                                                <option value="">اختيار جنسية المستثمر--</option>
                                                <option *ngFor="let country of countries" [value]="country.enName">
                                                    {{country.code}}-{{ country.arName }}
                                                </option>
                                            </select>
                                            <button (click)="removeSubCodeRow(formContent.code, subCode)"
                                                style="background-color: white; border:none;">
                                                <img src=".././../../../assets/images/trash-can-outline.png"
                                                    class="img-fluid">
                                            </button>
                                        </div>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId == 5">
                                        <div style="display: flex;justify-content: center;">
                                            <input type="text" style="width: 220px !important;"
                                                [(ngModel)]="subCode.arName" />
                                            <button (click)="removeSubCodeRow(formContent.code, subCode)"
                                                style="background-color: white; border:none;">
                                                <img src=".././../../../assets/images/trash-can-outline.png"
                                                    class="img-fluid">
                                            </button>
                                        </div>

                                    </td>
                                    <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="4">
                                        <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="true" checked
                                            name="yesNoSubOption_{{subCode.Id}}">
                                        نعم
                                        <label class="mt-3"></label>
                                    </td>
                                    <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="5">
                                        <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="false"
                                            name="yesNoSubOption_{{subCode.Id}}"> لا
                                        <label class="mt-3"></label>
                                    </td>
                                    <ng-container *ngIf="!isCollapsedColumns[4] && !subCode.IsTrueAndFalse">
                                        <td class="text-center" [ngClass]="coverForm.typeQuarter == 4 ? 'quarter' : ''">
                                            <input [ngClass]="coverForm.typeQuarter == 4 ? 'quarter' : ''"
                                                [disabled]="coverForm.typeQuarter < 4 || subCode.IsHdd" type="number"
                                                [(ngModel)]="subCode.values[4]" (focus)="clearIfZero(subCode.values, 4)"
                                                (blur)="restoreIfNotPositive(subCode.values, 4)" />
                                        </td>

                                        <td class="text-center"
                                            [ngClass]="coverForm.typeQuarter == 4 ? 'transaction' : ''">
                                            <input [ngClass]="coverForm.typeQuarter == 4 ? 'transaction' : ''" disabled
                                                type="number" [value]="subCode.values[4] - subCode.values[3]" />
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!isCollapsedColumns[3] && !subCode.IsTrueAndFalse">
                                        <td class="text-center" [ngClass]="coverForm.typeQuarter == 3 ? 'quarter' : ''">
                                            <input [disabled]="coverForm.typeQuarter < 3 || subCode.IsHdd" type="number"
                                                [(ngModel)]="subCode.values[3]"
                                                [ngClass]="coverForm.typeQuarter == 3 ? 'quarter' : ''"
                                                (focus)="clearIfZero(subCode.values, 3)"
                                                (blur)="restoreIfNotPositive(subCode.values, 3)"
                                                (input)="handleParent(formContent)" />
                                        </td>

                                        <td class="text-center"
                                            [ngClass]="coverForm.typeQuarter == 3 ? 'transaction' : ''">
                                            <input disabled type="number"
                                                [value]="subCode.values[3] - subCode.values[2]" />
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!isCollapsedColumns[2] && !subCode.IsTrueAndFalse">
                                        <td class="text-center" [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''">
                                            <input [disabled]="coverForm.typeQuarter < 2 || subCode.IsHdd" type="number"
                                                [(ngModel)]="subCode.values[2]"
                                                [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"
                                                (focus)="clearIfZero(subCode.values, 2)"
                                                (blur)="restoreIfNotPositive(subCode.values, 2)"
                                                (input)="handleParent(formContent)" />
                                        </td>

                                        <td class="text-center"
                                            [ngClass]="coverForm.typeQuarter == 2 ? 'transaction' : ''">
                                            <input disabled type="number"
                                                [value]="subCode.values[2] - subCode.values[1]" />
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="!isCollapsedColumns[1] && !subCode.IsTrueAndFalse">
                                        <td class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''">
                                            <input [disabled]="coverForm.typeQuarter < 1 || subCode.IsHdd" type="number"
                                                [(ngModel)]="subCode.values[1]"
                                                [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''"
                                                (focus)="clearIfZero(subCode.values, 1)"
                                                (blur)="restoreIfNotPositive(subCode.values, 1)"
                                                (input)="handleParent(formContent)" />
                                        </td>
                                        <td class="text-center"
                                            [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                            <input disabled type="number"
                                                [value]="subCode.values[1] - subCode.values[0]" />
                                        </td>
                                    </ng-container>
                                    <td class="text-center" style="color: black;" *ngIf="!subCode.IsTrueAndFalse">
                                        <input type="number" [(ngModel)]="subCode.values[0]"
                                            (focus)="clearIfZero(subCode.values, 0)"
                                            (blur)="restoreIfNotPositive(subCode.values, 0)"
                                            (input)="handleParent(formContent)" [disabled]="subCode.IsHdd"
                                            style="color: black;" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" disabled value="{{ subCode.QuestionCode }}" />
                                    </td>
                                    <td *ngIf="formContent.code.TypeId == 1" class="sub-list-item"
                                        style="text-align: center; color: #00af9d; text-wrap: balance;">{{
                                        subCode.enName }}
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                        <select class="form-control" style="width: 100% !important; text-align:center"
                                            [(ngModel)]="subCode.arName">
                                            <option value="">Choose Activity --</option>
                                            <option *ngFor="let activity of activities" value="{{activity.id}}">
                                                {{activity.code}}-{{activity.enName}}</option>
                                        </select>
                                    </td>
                                    <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                        <div style="display: flex;">
                                            <select class="form-control" [(ngModel)]="subCode.enName"
                                                (ngModelChange)="onEnCountryChange(subCode)"
                                                style="width: 47% !important; text-align:center">
                                                <option value="">Choose Investor Nationality--</option>
                                                <option *ngFor="let country of countries" [value]="country.enName">
                                                    {{country.code}}-{{ country.enName }}
                                                </option>
                                            </select>
                                            <select class="form-control" [(ngModel)]="subCode.arName"
                                                (ngModelChange)="onArCountryChange(subCode)"
                                                style="width: 47% !important; text-align:center;margin: 5px;">
                                                <option value="">Choose Source of money--</option>
                                                <option *ngFor="let country of countries" [value]="country.arName">
                                                    {{country.code}}-{{country.enName}}</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="text-center" style=" direction: ltr;"
                                        *ngIf="formContent.code.TypeId == 5">
                                        <div style="display: flex;justify-content: center;">
                                            <input type="text" style="width: 220px !important;"
                                                [(ngModel)]="subCode.enName" />
                                        </div>

                                    </td>
                                </tr>
                                <ng-container *ngFor="let _subCode of subCode.subCodes">
                                    <tr *ngIf="subCode.IsHdd == true">
                                        <td class="text-center">
                                            <div style="display: flex;justify-content: center;">
                                                <input type="text" style="width: 220px !important;"
                                                    [(ngModel)]="_subCode.arName" />
                                                <button (click)="removeSubCodeFromSubRow(subCode, _subCode)"
                                                    style="background-color: white; border:none;">
                                                    <img src=".././../../../assets/images/trash-can-outline.png"
                                                        class="img-fluid">
                                                </button>
                                            </div>
                                        </td>
                                        <ng-container *ngIf="!isCollapsedColumns[4]">
                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 4 ? 'quarter' : ''">
                                                <input [ngClass]="coverForm.typeQuarter == 4 ? 'quarter' : ''"
                                                    [disabled]="coverForm.typeQuarter < 4 " type="number"
                                                    [(ngModel)]="_subCode.values[4]"
                                                    (focus)="clearIfZero(_subCode.values, 4)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 4)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" />
                                            </td>

                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 4 ? 'transaction' : ''">
                                                <input [ngClass]="coverForm.typeQuarter == 4 ? 'transaction' : ''"
                                                    disabled type="number"
                                                    [value]="_subCode.values[4] - _subCode.values[3]" />
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="!isCollapsedColumns[3]">
                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 3 ? 'quarter' : ''">
                                                <input [disabled]="coverForm.typeQuarter < 3" type="number"
                                                    [(ngModel)]="_subCode.values[3]"
                                                    [ngClass]="coverForm.typeQuarter == 3 ? 'quarter' : ''"
                                                    (focus)="clearIfZero(_subCode.values, 3)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 3)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" />
                                            </td>

                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 3 ? 'transaction' : ''">
                                                <input disabled type="number"
                                                    [value]="_subCode.values[3] - _subCode.values[2]" />
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="!isCollapsedColumns[2]">
                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''">
                                                <input [disabled]="coverForm.typeQuarter < 2" type="number"
                                                    [(ngModel)]="_subCode.values[2]"
                                                    [ngClass]="coverForm.typeQuarter == 2?'quarter' : ''"
                                                    (focus)="clearIfZero(_subCode.values, 2)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 2)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" />
                                            </td>

                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 2 ? 'transaction' : ''">
                                                <input disabled type="number"
                                                    [value]="_subCode.values[2] - _subCode.values[1]" />
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="!isCollapsedColumns[1]">
                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''">
                                                <input [disabled]="coverForm.typeQuarter < 1" type="number"
                                                    [(ngModel)]="_subCode.values[1]"
                                                    [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''"
                                                    (focus)="clearIfZero(_subCode.values, 1)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 1)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" />
                                            </td>
                                            <td class="text-center"
                                                [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                                <input disabled type="number"
                                                    [value]="_subCode.values[1] - _subCode.values[0]" />
                                            </td>
                                        </ng-container>
                                        <td class="text-center" style="color: black;">
                                            <input type="number" [(ngModel)]="_subCode.values[0]"
                                                (focus)="clearIfZero(_subCode.values, 0)"
                                                (blur)="restoreIfNotPositive(_subCode.values, 0)"
                                                (input)="handelSupParent(formContent,subCode,indexSub)"
                                                style="color: black;" />
                                        </td>
                                        <td class="text-center">
                                            <input disabled type="text" value="{{_subCode.QuestionCode}}" />
                                        <td class="text-center" style=" direction: ltr;">
                                            <div style="display: flex;justify-content: center;">
                                                <input type="text" style="width: 220px !important;"
                                                    [(ngModel)]="_subCode.enName" />
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr class="footer" *ngIf="table.IsTotal">
                            <td>الاجمالى</td>

                            <!-- Sum of formContent.values[4] -->
                            <ng-container *ngIf="!isCollapsedColumns[4]">
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 4 ? 'quarter' : ''">
                                    <input disabled type="number" [value]="getSumOfValues(4)" />
                                </td>

                                <!-- Difference between formContent.values[4] and formContent.values[3] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 4 ? 'transaction' : ''">
                                    <input disabled type="number" [value]="getDifferenceBetweenSums(4, 3)" />
                                </td>

                            </ng-container>
                            <ng-container *ngIf="!isCollapsedColumns[3]">
                                <!-- Sum of formContent.values[3] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 3 ? 'quarter' : ''">
                                    <input disabled type="number" [value]="getSumOfValues(3)" />
                                </td>

                                <!-- Difference between formContent.values[3] and formContent.values[2] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 3 ? 'transaction' : ''">
                                    <input disabled type="number" [value]="getDifferenceBetweenSums(3, 2)" />
                                </td>
                            </ng-container>
                            <ng-container *ngIf="!isCollapsedColumns[2]">

                                <!-- Sum of formContent.values[2] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 2 ? 'quarter' : ''">
                                    <input disabled type="number" [value]="getSumOfValues(2)" />
                                </td>

                                <!-- Difference between formContent.values[2] and formContent.values[1] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 2 ? 'transaction' : ''">
                                    <input disabled type="number" [value]="getDifferenceBetweenSums(2, 1)" />
                                </td>
                            </ng-container>
                            <ng-container *ngIf="!isCollapsedColumns[1]">

                                <!-- Sum of formContent.values[1] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''">
                                    <input disabled type="number" [value]="getSumOfValues(1)" />
                                </td>
                                <!-- Difference between formContent.values[1] and formContent.values[0] -->
                                <td class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                    <input disabled type="number" [value]="getDifferenceBetweenSums(1, 0)" />
                                </td>
                            </ng-container>

                            <!-- Sum of formContent.values[0] -->
                            <td class="text-center" style="color: black;">
                                <input disabled type="number" [value]="getSumOfValues(0)" style="color: black;" />
                            </td>
                            <td class="text-center" style="color: black;">
                                <input disabled type="number" [value]="getSumOfValues(0)" style="color: black;" />
                            </td>
                            <td class="text-start">Total</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->

        <!-- start footer -->
        <footer class="projection-notes d-flex flex-wrap my-3 card-box">
            <div class="col-sm-6 footer-ar">
                <p [innerHTML]="table.arNotes"></p>

            </div>
            <div class="col-sm-6 footer-en">
                <p [innerHTML]="table.enNotes"></p>

            </div>
        </footer>
        <!-- end footer -->

        <!-- end content -->
    </div>
</div>