<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card  " style="flex: 1;">
  <!-- header -->
  <app-top-screen [title]="'النشاطات'"></app-top-screen>
  <!-- end-header -->
  <div class="header-nav companies-details">
    <div class="card-box mb-3">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/Sectors">القطاعات</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/Sections">القسم</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/Groups">المجموعات</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/Categories">الفئات</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/Activities">الأنشطة الرئيسية</a>
        </li>
        <!-- <li routerLinkActive="active">
                    <a routerLink="/SubActivities">الأنشطة الفرعية</a>
                </li> -->
        <li routerLinkActive="active">
          <a routerLink="/Countries">الدول</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- start content -->
  <div class="content companies researcher">
    <div class="header d-flex mb-0">
      <div class="title">
        قائمة النشاطات
      </div>
      <div class="btns d-flex">
        <div class="search">
          <input (keydown.enter)="countriesSearch()" [(ngModel)]="searchText" class="form-control" type="text"
            name="search" placeholder="البحث">
          <i (click)="countriesSearch()" class="fa fa-search icon" id="search-icon" aria-hidden="true"></i>
        </div>
        <div class="d-flex gap-1 flex-grow-1" id="research-btns">
          <button (click)="onReset()" type="button" class="btn btn-add" data-bs-toggle="modal"
            data-bs-target="#addSector">
            <img src="../../../../assets/images/briefcase-plus-outli.png" alt="">
            اضافة نشاط
          </button>

        </div>
      </div>
    </div>

    <div class="table-responsive company-table research-table">
      <table class="table table-borderless">
        <thead>
          <tr class="t-header">
            <th class="text-center" scope="col">اسم النشاط</th>
            <th class="text-center" scope="col">تاريخ انشاءه</th>
            <th class="text-center" scope="col">الرمز</th>
            <th style="width: 150px;" class="text-center" scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities">
            <td class="text-center">{{activity.arName}}</td>
            <td class="text-center">{{activity.createdOn | date:'yyyy-MM-dd'}}</td>
            <td class="text-center">{{activity.code}}</td>
            <td class="text-center td-actions">
              <button class="icon" (click)="DeleteActivity(activity.id)">
                <img src="../../../../assets/images/trash-can-outline.png" alt="">
              </button>
              <button class="icon" (click)="openUpdatePopup(activity.id)" data-bs-toggle="modal"
                data-bs-target="#addSector">
                <img src="../../../../assets/images/pencil-outline.png" alt="">
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="noData">
          <tr>
            <th colspan="7">
              <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <br />
                <span> لا يوجد بيانات </span>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- end content -->
</div>
<app-pagination [pageNumber]="currentPage" [lastPage]="isLastPage" [emptyData]="noData" [pagesCount]="totalPages"
  (pageChange)="onPageChange($event)"></app-pagination>
<div class="modal company-modal fade" id="addSector" tabindex="-1" aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg d-flex justify-content-center align-items-center">
    <div class="modal-content" style="width: 50%;">
      <div class="modal-header pb-0">
        <h5 class="modal-title" id="add">إضافة نشاط</h5>
      </div>
      <form [formGroup]="activityForm">
        <div class="modal-body pb-1">
          <div class="row">
            <div class="form-group col-sm-12 mb-2">
              <input class="form-control input-modal" type="text" formControlName="arName" />
              <label for="inputField">اسم النشاط بالعربية</label>
            </div>
            <div class="form-group col-sm-12 mb-2">
              <input class="form-control input-modal" type="text" formControlName="enName" />
              <label for="inputField">Activity Name in English</label>
            </div>
            <div class="form-group col-sm-12 mb-2">
              <input class="form-control input-modal" type="text" formControlName="code" />
              <label for="inputField">رمز النشاط</label>
            </div>
            <div class="form-group col-sm-12 mb-2">
              <select class="form-control input-modal" formControlName="categoryId">
                <option value="0">--اختر رمز الفئة--</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.arName}}</option>
              </select>
              <label for="inputField">اسم الفئة</label>
            </div>

          </div>
        </div>
        <div class="modal-footer pt-0">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="btnCancel" (click)="onReset()">
            إلغاء
          </button>
          <button type="button" class="btn btn-save" *ngIf="!isUpdate" type="button" (click)="onSave()">
            حفظ
          </button>
          <button type="button" class="btn btn-save" *ngIf="isUpdate" (click)="updateActivity()" type="button"
            class="btn btn-save">
            تعديل
          </button>
        </div>
      </form>
    </div>
  </div>
</div>