<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [table]="table"></app-navigate-tables-types>
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    {{table.arName}}
                </div>
                <div class="title flex-fill en">
                    {{table.enName}}
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" colspan="" style="min-width: 250px;">{{table.arHeading}}</th>
                            <th class="text-center" scope="col" [attr.colspan]="tablePartsCount">خلال During
                                {{+coverForm.reviewYear - 1}}</th>
                            <th class="text-center" scope="col" [attr.colspan]="tablePartsCount">خلال During
                                {{coverForm.reviewYear}}</th>
                            <th class="text-center" scope="col" colspan="">الرمز Code</th>
                            <th class="text-start" scope="col" colspan="" style="min-width: 250px;">{{table.enHeading}}</th>
                        </tr>
                        <tr class="t-header">
                            <th class="text-center" scope="col"></th>
                            <th *ngFor="let part of table.tableParts" class="text-center" scope="col">
                                {{part.arName}}{{part.enName}}</th>
                            <th *ngFor="let part of table.tableParts" class="text-center" scope="col">
                                {{part.arName}}{{part.enName}}</th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let formContent of table.formContents">
                            <tr>
                                <td style="text-wrap: balance;">{{formContent.code.arName}}
                                    <button *ngIf="formContent.code.TypeId != 1 && formContent.code.TypeId != 4"
                                        style="background-color: #00af9d; border-radius: 5px;float: left;"
                                        (click)="addSubCodeRow(formContent.code)">
                                        <i style="color: white;" class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="table.tableParts.length">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="true"
                                        name="yesNoOption_{{formContent.code.Id}}"> نعم
                                    <label class="mt-3"></label>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="table.tableParts.length">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="false"
                                        name="yesNoOption_{{formContent.code.Id}}"> لا
                                    <label class="mt-3"></label>
                                </td>
                                <ng-container *ngIf="formContent.code.TypeId != 4">
                                    <ng-container *ngFor="let part of table.tableParts; let i = index">
                                        <td class="text-center">
                                            <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                                    <input type="number" *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                    [(ngModel)]="formContent.values[i]"
                                                    class="tableInputParent" 
                                                    (focus)="clearIfZero(formContent.values, i)"
                                                    (blur)="restoreIfNotPositive(formContent.values, i)" (input)="changeStatus(coverForm.status)"/>
                                            </ng-container>
                                            <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                                <input type="number"  [(ngModel)]="formContent.values[i]"
                                                class="tableInputParent" 
                                                (focus)="clearIfZero(formContent.values, i)"
                                                (blur)="restoreIfNotPositive(formContent.values, i)" (input)="changeStatus(coverForm.status)"/>
                                            </ng-container>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngFor="let part of table.tableParts; let i = index">
                                        <td class="text-center">
                                            <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                                <input type="number"  *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                    [(ngModel)]="formContent.values[i + table.tableParts.length]"
                                                    class="tableInputParent" 
                                                    (focus)="clearIfZero(formContent.values, i + table.tableParts.length)"
                                                    (blur)="restoreIfNotPositive(formContent.values, i + table.tableParts.length)" (input)="changeStatus(coverForm.status)"/>
                                            </ng-container>
                                            <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                                <input type="number"
                                                    [(ngModel)]="formContent.values[i + table.tableParts.length]"
                                                    class="tableInputParent" 
                                                    (focus)="clearIfZero(formContent.values, i + table.tableParts.length)"
                                                    (blur)="restoreIfNotPositive(formContent.values, i + table.tableParts.length)" (input)="changeStatus(coverForm.status)"/>
                                            </ng-container>    
                                        </td>
                                    </ng-container>
                                </ng-container>

                                <td class="text-center"><input disabled type="text"
                                        value="{{formContent.code.QuestionCode}}" /></td>
                                <td class="text-start" style="text-wrap: balance; text-align: center;">
                                    {{formContent.code.enName}}</td>
                            </tr>
                            <ng-container>
                                <ng-container *ngFor="let subCode of formContent.code.SubCodes">
                                    <tr>
                                        <td *ngIf="formContent.code.TypeId == 1"
                                            style="text-wrap: balance; text-align: right !important;color: #133c8b; padding-right: 25px !important;">
                                            - {{subCode.arName}}</td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                                <div style="display: flex;">
                                                <select class="form-control" style="text-align:center; width: 95% !important;" [(ngModel)]="subCode.enName">
                                                    <option value="">اختيار نشاط--</option>
                                                    <option *ngFor="let activity of activities" value="{{activity.id}}">
                                                        {{activity.code}}-{{activity.arName}}</option>
                                                </select>
                                                <button  (click)="removeSubCodeRow(formContent.code, subCode)"
                                                            style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png" class="img-fluid">
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                                <div style="display: flex;">
                                                    <select class="form-control" [(ngModel)]="subCode.arName"
                                                        (ngModelChange)="onArCountryChange(subCode)"
                                                        style="width: 47% !important; text-align:center;margin: 5px;">
                                                        <option value="">اختيار مصدر المال--</option>
                                                        <option *ngFor="let country of countries" [value]="country.arName">
                                                            {{country.code}}-{{country.arName}}</option>
                                                    </select>
                                                    <select class="form-control" [(ngModel)]="subCode.enName"
                                                        (ngModelChange)="onEnCountryChange(subCode)"
                                                        style="width: 47% !important; text-align:center">
                                                        <option value="">اختيار جنسية المستثمر--</option>
                                                        <option *ngFor="let country of countries" [value]="country.enName">
                                                            {{country.code}}-{{ country.arName }}
                                                        </option>
                                                    </select>
                                                    <button (click)="removeSubCodeRow(formContent.code, subCode)"
                                                            style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png" class="img-fluid">
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 5">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;" [(ngModel)]="subCode.arName"/>
                                                    <button  (click)="removeSubCodeRow(formContent.code, subCode)"
                                                            style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png" class="img-fluid">
                                                    </button>
                                                </div>
        
                                            </td>
                                        <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="table.tableParts.length">
                                            <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="true" checked
                                                > نعم
                                            <label class="mt-3"></label>
                                        </td>
                                        <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="table.tableParts.length">
                                            <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="false"> لا
                                            <label class="mt-3"></label>
                                        </td>
                                        <ng-container  *ngIf="!subCode.IsTrueAndFalse">
                                            <ng-container *ngFor="let part of table.tableParts; let i = index">
                                                <td class="text-center"><input type="number"
                                                    (focus)="clearIfZero(subCode.values, i)"
                                                    (blur)="restoreIfNotPositive(subCode.values, i)" [(ngModel)]="subCode.values[i]"
                                                    (ngModelChange)="calculateTransaction(coverForm.status)" /></td>
                                            </ng-container>
                                        </ng-container>

                                        <!-- Second set of tableParts for subcodes -->
                                        <ng-container  *ngIf="!subCode.IsTrueAndFalse">

                                            <ng-container *ngFor="let part of table.tableParts; let i = index" >
                                                <td class="text-center"><input type="number"
                                                    (focus)="clearIfZero(subCode.values, i + table.tableParts.length)"
                                                    (blur)="restoreIfNotPositive(subCode.values, i + table.tableParts.length)" 
                                                        [(ngModel)]="subCode.values[i + table.tableParts.length]"
                                                        (ngModelChange)="calculateTransaction(coverForm.status)" /></td>
                                            </ng-container>
                                        </ng-container>
                                        <td class="text-center" *ngIf="formContent.code.TypeId != 4">
                                            <input disabled type="text" value="{{subCode.QuestionCode}}" />
                                        </td>
                                        <td class="text-start" *ngIf="formContent.code.TypeId == 1"
                                            style="text-wrap: balance; text-align: left !important;color: #133c8b; padding-left: 25px !important;">
                                            {{subCode.enName}} -</td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                                <select class="form-control" style="width: 100% !important; text-align:center" [(ngModel)]="subCode.arName">
                                                    <option value="">Choose Activity --</option>
                                                    <option *ngFor="let activity of activities" value="{{activity.id}}">
                                                        {{activity.code}}-{{activity.enName}}</option>
                                                </select>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                                <div style="display: flex;">
                                                    <select class="form-control" [(ngModel)]="subCode.arName"
                                                        (ngModelChange)="onArCountryChange(subCode)"
                                                        style="width: 47% !important; text-align:center;margin: 5px;">
                                                        <option value="">Choose Source of money--</option>
                                                        <option *ngFor="let country of countries" [value]="country.arName">
                                                            {{country.code}}-{{country.enName}}</option>
                                                    </select>
                                                    <select class="form-control" [(ngModel)]="subCode.enName"
                                                        (ngModelChange)="onEnCountryChange(subCode)"
                                                        style="width: 47% !important; text-align:center">
                                                        <option value="">Choose Investor Nationality--</option>
                                                        <option *ngFor="let country of countries" [value]="country.enName">
                                                            {{country.code}}-{{ country.enName }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center" *ngIf="formContent.code.TypeId == 5">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;" [(ngModel)]="subCode.enName"/>
                                                </div>
        
                                            </td>
                                    </tr>
                                    <ng-container *ngFor="let _subCode of subCode.subCodes">
                                        <tr *ngIf="formContent.code.TypeId == 1">
                                            <td class="text-start"
                                                style="text-wrap: balance; text-align: right !important;color: #00af9d; padding-right: 40px !important;">
                                                => {{_subCode.arName}}
                                            </td>
                                            <td *ngFor="let part of table.tableParts" class="text-center"><input
                                                    [disabled]="coverForm.status > 4" type="number"  />
                                            </td>
                                            <td *ngFor="let part of table.tableParts" class="text-center"><input
                                                    [disabled]="coverForm.status > 4" type="number"  />
                                            </td>
                                            <td class="text-center">
                                                <input disabled type="text" value="{{subCode.QuestionCode}}" />
                                            <td class="text-start"
                                                style="text-wrap: balance; text-align: left !important;color: #00af9d; padding-left: 40px !important;">
                                                {{_subCode.enName}} <= </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <tr class="footer" *ngIf="table.IsTotal">
                            <td>الاجمالى</td>
                            <td class="text-center" *ngFor="let year of table.tableParts; let i = index">
                                <input type="number" disabled placeholder="0" [value]="getSumOfValues(i)" />
                            </td>
                            <td class="text-center" *ngFor="let year of table.tableParts; let i = index">
                                <input type="number" disabled placeholder="0"
                                    [value]="getSumOfValues(table.tableParts.length + i)" />
                            </td>
                            <td></td>
                            <td class="text-start">Total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- end table -->

        <!-- start footer -->
        <footer class="projection-notes d-flex flex-wrap my-3 card-box">
            <p class="ar flex-fill">
                {{table.arNotes}}
            </p>
            <p class="en flex-fill">
                {{table.enNotes}}
            </p>
        </footer>
        <!-- end footer -->

        <!-- end content -->
    </div>
</div>