<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card " style="flex: 1;" style="flex: 1; font-family: 'Arial', sans-serif;">
    <!-- header -->
    <div class="header d-flex flex-wrap justify-content-between align-items-center">
        <h4 class="title">
            تفاصيل تكبير البيانات
        </h4>
        <div class="user d-flex justify-content-between align-items-center">
            <div class="dropdown">
                <button type="button" class="btn lang" id="dropdownlang" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span class="current-lang">عربى</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownlang">
                    <li><a class="dropdown-item second-lang" href="#">En</a></li>
                </ul>
            </div>
            <a href="./notification.html" class="notification  active">
                <i class="fa-solid fa-bell"></i>
            </a>
            <div class="user-img">
                <img src="../../../../assets/images/avatar.PNG" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- end-header -->
    <div class="header d-flex  justify-content-between align-items-center">
        <h4 class="">
            قائمة التقارير
        </h4>
        <div class="btns d-flex">

            <div class="d-flex flex-grow-1 gap-1 btns-group">
                <button style="background-color: #133C8B;color: white;" type="button" class="btn btn-download"
                    (click)="printExcel()">
                    <img src="../../../../assets/images/list-box-outline.png" alt="" />
                    استخراج تقرير
                </button>
            </div>
        </div>
    </div>
    <!-- start content -->
    <div class="content companies researcher">
        <div class="header d-flex mb-0">
            <div class="title text-center col-sm-12">
                <h2>المؤشر / ({{dataMaximizeDetails.codeName}})</h2>
                <h2>السنة / ({{dataMaximizeDetails.reviewYear}})</h2>
            </div>
        </div>
    </div>

    <div class="content companies researcher mt-5" *ngIf="!noData">
        <div class="header-nav companies-details" style="padding: 11px;color: black;">
            <ul>
                <li [class.active]="type === 1" (click)="GetDataMaximizeDetails(1)">
                    <a>تكبير بالقطاعات</a>
                </li>
                <li [class.active]="type === 2" (click)="GetDataMaximizeDetails(2)">
                    <a>تكبير بالشركات</a>
                </li>
                <li [class.active]="type === 3" (click)="GetDataMaximizeDetails(3)">
                    <a>تكبير بالأنشطة</a>
                </li>
            </ul>
        </div>
        <div class="header d-flex mb-0">
            <div class="title col-sm-12">
                <h2>بيانات سنة {{dataMaximizeDetails.reviewYear}}</h2>
            </div>
        </div>
        <div class="table-responsive company-table research-table">
            <table class="table table-borderless">
                <thead>
                    <tr class="t-header">
                        <th class="text-center" scope="col" *ngIf="type == 1">رمز القطاع</th>
                        <th class="text-center" scope="col" *ngIf="type == 1">اسم القطاع</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">رمز النشاط</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">اسم النشاط</th>
                        <th class="text-center" scope="col" *ngIf="type == 2">اسم الشركة</th>
                        <th class="text-center" scope="col">اجمالي قبل التكبير</th>
                        <th class="text-center" scope="col">اجمالي بعد التكبير</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataMaximizeDetails.dataMazimizeYearDtos[1].dataMaximizeDetailsItemsDtos">
                        <td class="text-center" *ngIf="type == 1 || type == 3">{{ item.sectorCode }}</td>
                        <td class="text-center">{{ item.sectorName }}</td>
                        <td class="text-center">{{ item.totalBefore }}</td>
                        <td class="text-center">{{ item.totalAfter }}</td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="alert alert-warning">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <br />
                                <span> لا يوجد بيانات </span>
                            </div>
                        </th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
    </div>
    <div class="content companies researcher mt-5" *ngIf="!noData">
        <div class="header d-flex mb-0">
            <div class="title col-sm-12">
                <h2>بيانات سنة {{dataMaximizeDetails.reviewYear - 1}}</h2>
            </div>
        </div>
        <div class="table-responsive company-table research-table">
            <table class="table table-borderless">
                <thead>
                    <tr class="t-header">
                        <th class="text-center" scope="col" *ngIf="type == 1">رمز القطاع</th>
                        <th class="text-center" scope="col" *ngIf="type == 1">اسم القطاع</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">رمز النشاط</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">اسم النشاط</th>
                        <th class="text-center" scope="col" *ngIf="type == 2">اسم الشركة</th>
                        <th class="text-center" scope="col">اجمالي قبل التكبير</th>
                        <th class="text-center" scope="col">اجمالي بعد التكبير</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataMaximizeDetails.dataMazimizeYearDtos[0].dataMaximizeDetailsItemsDtos">
                        <td class="text-center" *ngIf="type == 1 || type == 3">{{ item.sectorCode }}</td>
                        <td class="text-center">{{ item.sectorName }}</td>
                        <td class="text-center">{{ item.totalBefore }}</td>
                        <td class="text-center">{{ item.totalAfter }}</td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="alert alert-warning">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <br />
                                <span> لا يوجد بيانات </span>
                            </div>
                        </th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
    </div>
    <div class="content companies researcher mt-5" *ngIf="noData">
        <div class="alert alert-warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <br />
            <span> لا يوجد بيانات </span>
        </div>
    </div>
    <!-- end content -->
</div>