<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card " style="flex: 1;" style="flex: 1; font-family: 'Arial', sans-serif;">
    <!-- header -->
    <app-top-screen [title]="'DataMaximizeDetails.Title' |translate"></app-top-screen>

    <!-- end-header -->
    <div class="header d-flex  justify-content-between align-items-center">
        <h4 class="">
            {{'DataMaximizeDetails.DataMaximizeList' |translate}}
        </h4>
        <div class="btns d-flex">

            <div class="d-flex flex-grow-1 gap-1 btns-group">
                <button style="background-color: #133C8B;color: white;" type="button" class="btn btn-download"
                    (click)="printExcel()">
                    <img src="../../../../assets/images/list-box-outline.png" alt="" />
                    {{'DataMaximizeDetails.ExportReport' |translate}}
                </button>
            </div>
        </div>
    </div>
    <!-- start content -->
    <div class="content companies researcher">
        <div class="header d-flex mb-0">
            <div class="title text-center col-sm-12">
                <h2>{{'DataMaximizeDetails.Code' |translate}} / ({{ savedLang === 'ar' ? dataMaximizeDetails.codeName : dataMaximizeDetails.codeNameEn }})</h2>
                <h2>{{'DataMaximizeDetails.Year' |translate}} / ({{dataMaximizeDetails.reviewYear}})</h2>
            </div>
        </div>
    </div>

    <div class="content companies researcher mt-5" *ngIf="!noData">
        <div class="header-nav companies-details" style="padding: 11px;color: black;">
            <ul>
                <li [class.active]="type === 1" (click)="GetDataMaximizeDetails(1)">
                    <a>{{'DataMaximizeDetails.MaximizeBySector' |translate}}</a>
                </li>
                <li [class.active]="type === 2" (click)="GetDataMaximizeDetails(2)">
                    <a>{{'DataMaximizeDetails.MaximizeByCompany' |translate}}</a>
                </li>
                <li [class.active]="type === 3" (click)="GetDataMaximizeDetails(3)">
                    <a>{{'DataMaximizeDetails.MaximizeByActivity' |translate}}</a>
                </li>
            </ul>
        </div>
        <div class="header d-flex mb-0">
            <div class="title col-sm-12">
                <h2>{{'DataMaximizeDetails.Year' |translate}} {{dataMaximizeDetails.reviewYear}}</h2>
            </div>
        </div>
        <div class="table-responsive company-table research-table">
            <table class="table table-borderless">
                <thead>
                    <tr class="t-header">
                        <th class="text-center" scope="col" *ngIf="type == 1">{{'DataMaximizeDetails.SectionCode' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 1">{{'DataMaximizeDetails.SectionName' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">{{'DataMaximizeDetails.ActivityCode' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">{{'DataMaximizeDetails.ActivityName' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 2">{{'DataMaximizeDetails.CompanyName' |translate}}</th>
                        <th class="text-center" scope="col">{{'DataMaximizeDetails.TotalBeforeMaximize' |translate}}</th>
                        <th class="text-center" scope="col">{{'DataMaximizeDetails.TotalAfterMaximize' |translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataMaximizeDetails.dataMazimizeYearDtos[1].dataMaximizeDetailsItemsDtos">
                        <td class="text-center" *ngIf="type == 1 || type == 3">{{ item.sectorCode }}</td>
                        <td class="text-center">{{ savedLang === 'ar' ? item.sectorName : item.sectorNameEn }}</td>
                        <td class="text-center">{{ item.totalBefore }}</td>
                        <td class="text-center">{{ item.totalAfter }}</td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="alert alert-warning">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <br />
                                <span> لا يوجد بيانات </span>
                            </div>
                        </th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
    </div>
    <div class="content companies researcher mt-5" *ngIf="!noData">
        <div class="header d-flex mb-0">
            <div class="title col-sm-12">
                <h2>{{'DataMaximizeDetails.Year' |translate}} {{dataMaximizeDetails.reviewYear - 1}}</h2>
            </div>
        </div>
        <div class="table-responsive company-table research-table">
            <table class="table table-borderless">
                <thead>
                    <tr class="t-header">
                        <th class="text-center" scope="col" *ngIf="type == 1">{{'DataMaximizeDetails.SectionCode' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 1">{{'DataMaximizeDetails.SectionName' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">{{'DataMaximizeDetails.ActivityCode' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 3">{{'DataMaximizeDetails.ActivityName' |translate}}</th>
                        <th class="text-center" scope="col" *ngIf="type == 2">{{'DataMaximizeDetails.CompanyName' |translate}}</th>
                        <th class="text-center" scope="col">{{'DataMaximizeDetails.TotalBeforeMaximize' |translate}}</th>
                        <th class="text-center" scope="col">{{'DataMaximizeDetails.TotalAfterMaximize' |translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dataMaximizeDetails.dataMazimizeYearDtos[0].dataMaximizeDetailsItemsDtos">
                        <td class="text-center" *ngIf="type == 1 || type == 3">{{ item.sectorCode }}</td>
                        <td class="text-center">{{ savedLang === 'ar' ? item.sectorName : item.sectorNameEn }}</td>
                        <td class="text-center">{{ item.totalBefore }}</td>
                        <td class="text-center">{{ item.totalAfter }}</td>
                    </tr>
                </tbody>
                <!-- <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="alert alert-warning">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                                <br />
                                <span> لا يوجد بيانات </span>
                            </div>
                        </th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
    </div>
    <div class="content companies researcher mt-5" *ngIf="noData">
        <div class="alert alert-warning">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <br />
            <span>{{'DataMaximizeDetails.noData' |translate}}</span>
        </div>
    </div>
    <!-- end content -->
</div>