<app-loader *ngIf="Loader"></app-loader>

<div class="d-flex flex-nowrap home">
    <!-- main content -->
    <div class="main-content p-4 main card " style="flex: 1;">
        <!-- header -->
        <app-top-screen [title]="'الاستمارات'"></app-top-screen>
        <!-- end-header -->
        <!-- start content -->
        <div class="content companies">
            <div class="header d-flex justify-content-end">
                <div class="btns d-flex">
                    <button style="padding: 6px;" type="button" class="btn-download" data-bs-toggle="modal"
                        data-bs-target="#createForm">
                        <img src=".././../../../assets/images/list-box-outline.png" alt="">
                        إنشاء إستمارة
                    </button>

                    <button type="button" class="btn btn-add">
                        <img src=".././../../../assets/images/briefcase-plus-outli.png" alt="">
                        طباعة PDF
                    </button>

                </div>
            </div>

            <!-- end content -->

        </div>
        <!-- Start form tree  -->
        <div>
            <div class="items d-none" id="items">
                <ul>
                    <li>
                        <a style="font-size: large;">الأستمارات</a>
                        <ul id="main">

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- End form tree  -->
    </div>
    <!--start modal -->
    <!--start create form modal -->
    <div class="modal company-modal fade" id="createForm" tabindex="-1" aria-labelledby="add" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h5 class="modal-title" id="sendForm" *ngIf="add">إنشاء استمارة</h5>
                    <h5 class="modal-title" id="sendForm" *ngIf="!add">تعديل الاستمارة</h5>
                </div>
                <form [formGroup]="formForm">
                    <div class="modal-body pb-0">
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <div class=" input-floating-label mb-0">
                                    <input formControlName="arName" type="text" class="form-control">
                                    <label for="user">اسم الاستمارة بالعربى</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class=" input-floating-label mb-0">
                                    <input formControlName="enName" type="text" class="form-control"
                                        style="direction: ltr;">
                                    <label class="eng">Form Name in English</label>
                                </div>
                            </div>
                            <div class="col-12-12 mb-2">
                                <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                    <label class="form-check-label" for="active" style="font-size: 14px;">فعال</label>
                                    <input formControlName="isActive" class="form-check-input" type="checkbox"
                                        id="active" checked>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class=" input-floating-label mb-0">
                                    <textarea formControlName="arNotes" class="form-control input-modal" rows="2"
                                        placeholder="ملاحظات ..." style="font-size: 12px;"></textarea>
                                    <label for="user">ملاحظات بالعربى</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class=" input-floating-label mb-0">
                                    <textarea formControlName="enNotes" class="form-control input-modal" rows="2"
                                        placeholder="Notes" style="direction: ltr; font-size: 12px;"></textarea>
                                    <label class="eng">Notes in English</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-3">
                            <select formControlName="type" class="form-control" style="width: 100%;">
                                <option selected value="0">النوع</option>
                                <option value="1">سنوية</option>
                                <option value="2">ربعية</option>
                            </select>
                        </div>
                        <div class="modal-footer pt-0 ps-0" style="border-top: none;">
                            <button id="btnCancel" type="button" class="btn btn-cancel"
                                data-bs-dismiss="modal">إلغاء</button>
                            <button (click)="saveForm()" type="button" class="btn btn-save"
                                style="background-color: #133C8B;" *ngIf="add">حفظ</button>
                            <button (click)="updateForm()" type="button" class="btn btn-save"
                                style="background-color: #133C8B;" *ngIf="!add">تعديل</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--end create form modal -->

    <!--start create table modal -->
    <div class="modal company-modal fade" id="createTable" tabindex="-1" aria-labelledby="add" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h5 class="modal-title" id="sendForm" *ngIf="_addTable">إنشاء جدول</h5>
                    <h5 class="modal-title" id="sendForm" *ngIf="!_addTable">إنشاء جدول</h5>
                </div>
                <form [formGroup]="tableForm">
                    <div class="modal-body pb-0">
                        <div class="row">
                            <div class="col-sm-12 mb-3">
                                <div class=" input-floating-label mb-0">
                                    <input type="text" class="form-control" formControlName="arName">
                                    <label>اسم الجدول بالعربى</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class=" input-floating-label mb-0">
                                    <input type="text" class="form-control" style="direction: ltr;"
                                        formControlName="enName">
                                    <label class="eng">Table Name in English</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class=" input-floating-label mb-0">
                                    <input type="text" class="form-control" formControlName="arHeading">
                                    <label>عنوان الجدول</label>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <div class=" input-floating-label mb-0">
                                    <input type="text" class="form-control" style="direction: ltr;"
                                        formControlName="enHeading">
                                    <label class="eng">Table Heading in English</label>
                                </div>
                            </div>
                            <div class="col-12-12 mb-2">
                                <div class="form-check form-switch d-flex justify-content-between align-items-center">
                                    <label class="form-check-label" for="active" style="font-size: 14px;">فعال</label>
                                    <input formControlName="IsActive" class="form-check-input" type="checkbox"
                                        id="active" checked>
                                </div>
                            </div>
                            <div class="col-sm-12 mb-3">
                                <select formControlName="Type" class="form-control" style="width: 100%;" [(ngModel)]="Type">
                                    <option selected disabled value="0">--اختر نوع الاستماره--</option>
                                    <option value="1">جدول بمعاملات</option>
                                    <option value="2">جدول بدون معاملات</option>
                                    <option value="5">جدول بمدة زمنية</option>
                                </select>
                            </div>
                            <div class="col-sm-12 mb-2" *ngIf="Type == 5">
                                <div class=" input-floating-label mb-0">
                                    <input type="text" class="form-control" formControlName="period">
                                    <label class="eng">مده الزمنيه للجدول</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer pt-0 ps-0" style="border-top: none;">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal"
                                id="tableCancel">إلغاء</button>
                            <button type="button" class="btn btn-save" style="background-color: #133C8B;"
                                (click)="saveTable()" *ngIf="_addTable">حفظ</button>
                                <button type="button" class="btn btn-save" style="background-color: #133C8B;"
                                *ngIf="!_addTable" (click)="updateTable()">تعديل</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--end create table modal -->

    
    <!--start create question modal -->
    <div class="modal company-modal fade" id="createQuestion" tabindex="-1" aria-labelledby="add" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg ">
            <div class="modal-content">
                <div class="modal-header pb-1">
                    <h5 class="modal-title" id="sendForm" *ngIf="addQuestion">إضافة سؤال</h5>
                    <h5 class="modal-title" id="sendForm" *ngIf="!addQuestion">تعديل سؤال</h5>
                </div>
                <form [formGroup]="questionForm">
                    <div class="modal-body pb-0">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-2">
                                <div class=" input-floating-label mb-0">
                                    <select class="form-control" style="width: 100%;" formControlName="codeId" (change)="onSelectChange($event)">
                                        <option selected value="0" id="messageType" disabled>--اختار رمز السؤال--</option>
                                        <option *ngFor="let item of codes" value={{item.Id}}>{{item.QuestionCode}}_{{item.arName}}</option>
                                    </select>
                                    <label>رمز السؤال</label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="table-responsive company-table research-table">
                            <table class="table table-borderless">
                              <thead>
                                <tr class="t-header">
                                  <th scope="col">رقم</th>
                                  <th class="text-center" scope="col">الرمز</th>
                                  <th class="text-center" scope="col">الاسم</th>
                                  <th class="text-center" scope="col">Name</th>
                                </tr>
                              </thead>
                      
                              <tbody>
                                <tr *ngFor="let item of subCodes; let i = index">
                                  <td>
                                    {{ i + 1 }}
                                  </td>
                                  <td class="text-center">{{ item.QuestionCode }}</td>
                                  <td class="text-center">{{ item.arName }}</td>
                                  <td class="text-center">{{ item.enName }}</td>
                                  
                                </tr>
                              </tbody>
                              <tfoot *ngIf="noData">
                                <tr>
                                  <th colspan="7">
                                    <div class="alert alert-warning">
                                      <i class="fa-solid fa-triangle-exclamation"></i>
                                      <br />
                                      <span> لا يوجد بيانات </span>
                                    </div>
                                  </th>
                                </tr>
                              </tfoot>
                            </table>
                          </div>
                        <div class="modal-footer  pt-0 ps-0" style="border-top: none;">
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal"
                                id="quesCancel">إلغاء</button>
                            <button (click)="saveQues()" type="button" class="btn btn-save"
                                style="background-color: #133C8B;"*ngIf="addQuestion">حفظ</button>
                                <button (click)="updateQuestion()" type="button" class="btn btn-save"
                                style="background-color: #133C8B;" *ngIf="!addQuestion">تعديل</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>