<app-loader *ngIf="Loader"></app-loader>

<div class="d-flex flex-nowrap home">
  <!-- main content -->
  <div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'الاستمارات'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <div class="content companies">
      <div class="header d-flex justify-content-end">
        <div class="btns d-flex">
          <button style="padding: 6px" type="button" class="btn-download" data-bs-toggle="modal"
            data-bs-target="#createForm">
            <img src=".././../../../assets/images/list-box-outline.png" alt="" />
            إنشاء إستمارة
          </button>

          <!-- <button type="button" class="btn btn-add">
            <img src=".././../../../assets/images/briefcase-plus-outli.png" alt="" />
            طباعة PDF
          </button> -->
        </div>
      </div>

      <!-- end content -->
    </div>
    <!-- Start form tree  -->
    <div class="zoom-controls" style="padding: 20px;">
      <button (click)="zoomIn()" class="mx-2" style="max-height: 50px; height: 100%; border-radius: 5px;">
        <img src=".././../../../assets/images/zoomin.png" alt="" />
      </button>
      <button (click)="zoomOut()" class="mx-2" style="max-height: 50px; height: 100%; border-radius: 5px;">
        <img src=".././../../../assets/images/zoomout.png" alt="" />
      </button>
      <button (click)="mainZoomLevel()" class="mx-2" style="max-height: 50px; height: 100%; border-radius: 5px;">
        <svg width="30px" height="30px">
          <path stroke-width="1" fill="none" stroke="#133C8B" d="M4,11 L4,4 L11,4"></path>
          <path stroke-width="1" fill="none" stroke="#133C8B" d="M28,11 L28,4 L21,4"></path>
          <path stroke-width="1" fill="none" stroke="#133C8B" d="M28,21 L28,28 L21,28"></path>
          <path stroke-width="1" fill="none" stroke="#133C8B" d="M4,21 L4,28 L11,28"></path>
          <circle cx="16" cy="16" r="5" fill="#133C8B" stroke="#133C8B"></circle>
        </svg>
      </button>
    </div>
    <div>
      <div class="items d-none" id="items" (mousedown)="onMouseDown($event)">
        <ul [ngStyle]="{'transform': 'scale(' + zoomLevel + ')'}">
          <li>
            <a style="font-size: large">الأستمارات</a>
            <ul id="main"></ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- End form tree  -->
  </div>
  <!--start modal -->
  <!--start create form modal -->
  <div class="modal company-modal fade" id="createForm" tabindex="-1" aria-labelledby="add" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title" id="sendForm" *ngIf="add">إنشاء استمارة</h5>
          <h5 class="modal-title" id="sendForm" *ngIf="!add">تعديل الاستمارة</h5>
        </div>
        <form [formGroup]="formForm">
          <div class="modal-body pb-0">
            <div class="row">
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <input formControlName="arName" type="text" class="form-control" />
                  <label for="user">اسم الاستمارة بالعربى</label>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="input-floating-label mb-0">
                  <input formControlName="enName" type="text" class="form-control" style="direction: ltr" />
                  <label class="eng">Form Name in English</label>
                </div>
              </div>
              <div class="col-12-12 mb-2">
                <div class="form-check form-switch d-flex justify-content-between align-items-center">
                  <label class="form-check-label" for="active" style="font-size: 14px">فعال</label>
                  <input formControlName="IsActive" class="form-check-input" type="checkbox" id="active" checked />
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <textarea formControlName="arNotes" class="form-control input-modal" rows="2"
                    style="font-size: 12px"></textarea>
                  <label for="user">ملاحظات بالعربى</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <textarea formControlName="enNotes" class="form-control input-modal" rows="2"
                    style="direction: ltr; font-size: 12px"></textarea>
                  <label class="eng">Notes in English</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <select formControlName="type" class="form-control" style="width: 100%" [(ngModel)]="typeForm">
                    <option selected disabled value="0">--اختر نوع الاستماره--</option>
                    <option value="1">سنوية</option>
                    <option value="2">ربعية</option>
                  </select>
                  <label>نوع الاستماره</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <select
                  formControlName="codeActivity"
                  class="form-control"
                >
                  <option selected value="0" disabled>
                    اختيار رمز النشاط
                  </option>
                  <option
                    *ngFor="let activity of Activities"
                    value="{{ activity.id }}"
                  >
                    {{activity.code}}_{{ activity.arName }}
                  </option>
                </select>
                  <label>رمز النشاط</label>
                </div>
              </div>
              
              <div class="col-sm-12 mb-3" *ngIf="typeForm=='1'||typeForm=='2'">
                <div class="input-floating-label mb-0">
                  <select formControlName="reviewYear" class="form-control" style="width: 100%"
                    [(ngModel)]="reviewYear">
                    <option selected disabled value="0">--اختر تاريخ مسح الاستماره--</option>
                    <ng-container *ngFor="let year of years">
                      <option [value]="year">{{ year }}</option>
                    </ng-container>
                  </select>
                  <label>تاريخ مسح</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3" *ngIf="(reviewYear>'0') && typeForm=='2'">
                <div class="input-floating-label mb-0">
                  <select formControlName="typeQuarter" class="form-control" style="width: 100%">
                    <option selected disabled value="0">--اختر ربع مسح الاستماره--</option>
                    <option value="1">الاول</option>
                    <option value="2">الثاني</option>
                    <option value="3">الثالث</option>
                    <option value="4">الرابع</option>
                  </select>
                  <label>ربع مسح الاستماره</label>
                </div>
              </div>
            </div>
            <div class="modal-footer pt-0 ps-0" style="border-top: none">
              <button id="btnCancel" type="button" class="btn btn-cancel" data-bs-dismiss="modal"
                (click)="resetForm()">إلغاء</button>
              <button (click)="saveForm()" type="button" class="btn btn-save" style="background-color: #133c8b"
                *ngIf="add">حفظ</button>
              <button (click)="updateForm()" type="button" class="btn btn-save" style="background-color: #133c8b"
                *ngIf="!add">تعديل</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end create form modal -->

  <!--start create table modal -->
  <div class="modal company-modal fade" id="createTable" tabindex="-1" aria-labelledby="add" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title" id="sendForm" *ngIf="_addTable">إنشاء جدول</h5>
          <h5 class="modal-title" id="sendForm" *ngIf="!_addTable">تعديل جدول</h5>
        </div>
        <form [formGroup]="tableForm">
          <div class="modal-body pb-0">
            <div class="row">
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <input type="text" class="form-control" formControlName="arName" />
                  <label>اسم الجدول بالعربى</label>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="input-floating-label mb-0">
                  <input type="text" class="form-control" style="direction: ltr" formControlName="enName" />
                  <label class="eng">Table Name in English</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <input type="text" class="form-control" formControlName="arHeading" />
                  <label>عنوان الجدول</label>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="input-floating-label mb-0">
                  <input type="text" class="form-control" style="direction: ltr" formControlName="enHeading" />
                  <label class="eng">Table Heading in English</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <textarea formControlName="arNotes" class="form-control input-modal" rows="2"
                    style="font-size: 12px"></textarea>
                  <label for="user">ملاحظات بالعربى</label>
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="input-floating-label mb-0">
                  <textarea formControlName="enNotes" class="form-control input-modal" rows="2"
                    style="direction: ltr; font-size: 12px"></textarea>
                  <label class="eng">Notes in English</label>
                </div>
              </div>
              <div class="col-sm-12 mb-2">
                <div class="input-floating-label mb-0">
                  <input type="number" class="form-control" style="direction: ltr" formControlName="Order" />
                  <label class="eng">ترتيب الجدول</label>
                </div>
              </div>
              <div class="col-12-12 mb-2">
                <div class="form-check form-switch d-flex justify-content-between align-items-center">
                  <label class="form-check-label" for="active" style="font-size: 14px">فعال</label>
                  <input formControlName="IsActive" class="form-check-input" type="checkbox" id="active" checked />
                </div>
              </div>
              <div class="col-12-12 mb-2">
                <div class="form-check form-switch d-flex justify-content-between align-items-center">
                  <label class="form-check-label" for="active" style="font-size: 14px">جدول بأجمالي</label>
                  <input formControlName="IsTotal" class="form-check-input" type="checkbox" id="active" checked />
                </div>
              </div>
              <div class="col-sm-12 mb-3" *ngIf="!(formType==2)">
                <div class="input-floating-label mb-0">
                  <select formControlName="Type" class="form-control" style="width: 100%" [(ngModel)]="Type"
                    (change)="onTypeChange()">
                    <option selected disabled value="">--اختر نوع الجدول--</option>
                    <option value="1">جدول بمعاملات</option>
                    <option value="2">جدول بدون معاملات</option>
                    <option value="6">جدول بدون معاملات بنسبه</option>
                    <option value="3">جدول سنه مقسمة الى اجزاء</option>
                    <option value="4">جدول سنتين مقسمة الى اجزاء</option>
                    <option value="5">جدول بمدة زمنية</option>
                  </select>
                  <label class="user">نوع الجدول</label>
                </div>
              </div>
              <div class="col-sm-12 mb-2" *ngIf="Type == 5">
                <div class="input-floating-label mb-0">
                  <input type="text" class="form-control" formControlName="period" />
                  <label class="eng">مده الزمنيه للجدول</label>
                </div>
              </div>
              <hr *ngIf="Type == 3 || Type == 4" />
              <div class="table-responsive company-table research-table table-border" *ngIf="Type == 3 || Type == 4">
                <button (click)="addRow()" class="btn btn-save" [disabled]="!areAllFieldsFilled()">اضافة سطر</button>
                <table class="table table-borderless">
                  <thead>
                    <tr class="t-header">
                      <th scope="col">رقم</th>
                      <th class="text-center" scope="col">الاسم بالكامل</th>
                      <th class="text-center" scope="col">English Full Name</th>
                      <th class="text-center" scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of addTableParts; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td class="text-center">
                        <input type="text" [(ngModel)]="item.arName" (input)="updateTableParts(i, 'arName', $event)"
                          value="{{ item.arName }}" />
                      </td>
                      <td class="text-center">
                        <input type="text" [(ngModel)]="item.enName" (input)="updateTableParts(i, 'enName', $event)"
                          value="{{ item.enName }}" />
                      </td>
                      <td class="text-center td-actions">
                        <button class="icon" (click)="removeItem(i)"
                          style="border: none; background-color: transparent">
                          <img src="../../../../assets/images/trash-can-outline.png" alt="" />
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot *ngIf="noData">
                    <tr>
                      <th colspan="7">
                        <div class="alert alert-warning">
                          <i class="fa-solid fa-triangle-exclamation"></i>
                          <br />
                          <span> لا يوجد بيانات </span>
                        </div>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="modal-footer pt-0 ps-0" style="border-top: none">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="tableCancel"
                (click)="resetTable()">إلغاء</button>
              <button type="button" class="btn btn-save" style="background-color: #133c8b" (click)="saveTable()"
                *ngIf="_addTable">حفظ</button>
              <button type="button" class="btn btn-save" style="background-color: #133c8b" *ngIf="!_addTable"
                (click)="updateTable()">تعديل</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end create table modal -->



  <!--start create question modal -->
  <div class="modal company-modal fade" id="createQuestion" tabindex="-1" aria-labelledby="add" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header pb-1">
          <h5 class="modal-title" id="sendForm" *ngIf="addQuestion">إضافة سؤال</h5>
          <h5 class="modal-title" id="sendForm" *ngIf="!addQuestion">تعديل سؤال</h5>
        </div>
        <form [formGroup]="questionForm">
          <div class="modal-body pb-0">
            <div class="row">
              <div class="col-lg-6 col-md-12 mb-2">
                <div class="input-floating-label mb-0">
                  <select class="form-control" style="width: 100%" formControlName="codeId"
                    (change)="onSelectChange($event)" [(ngModel)]="showSubCode">
                    <option selected value="0" id="messageType" disabled>--اختار رمز السؤال--</option>
                    <option *ngFor="let item of codes" value="{{ item.Id }}">{{ item.QuestionCode }}_{{ item.arName }}
                    </option>
                  </select>
                  <label>رمز السؤال</label>
                </div>
              </div>
            </div>
            <div class="table-responsive company-table research-table"
              *ngIf="(code.TypeId == 1)&&(!(showSubCode == '0' || showSubCode ==''))">
              <table class="table table-borderless">
                <thead>
                  <tr class="t-header">
                    <th scope="col">رقم</th>
                    <th class="text-center" scope="col">الرمز</th>
                    <th class="text-center" scope="col">الاسم</th>
                    <th class="text-center" scope="col">Name</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of subCodes; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td class="text-center">{{ item.QuestionCode }}</td>
                    <td class="text-center">{{ item.arName }}</td>
                    <td class="text-center">{{ item.enName }}</td>
                  </tr>
                </tbody>
                <tfoot *ngIf="noData">
                  <tr>
                    <th colspan="7">
                      <div class="alert alert-warning">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <br />
                        <span> لا يوجد بيانات </span>
                      </div>
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="modal-footer pt-0 ps-0" style="border-top: none">
              <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="quesCancel"
                (click)="resetQuestion()">إلغاء</button>
              <button (click)="saveQues()" type="button" class="btn btn-save" style="background-color: #133c8b"
                *ngIf="addQuestion">حفظ</button>
              <button (click)="updateQuestion()" type="button" class="btn btn-save" style="background-color: #133c8b"
                *ngIf="!addQuestion">تعديل</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end create question modal -->

<!--end linked company modal -->
<div class="modal company-modal fade" id="AddInstructions" tabindex="-1" aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-2">
      <div class="modal-title pt-3 modal-header d-flex justify-content-between pt-0">
        <h5>الارشادات</h5>
        <!-- <div class="search">
          <input class="form-control" type="text" name="search" placeholder="البحث" [(ngModel)]="searchText" (keydown.enter)="companiesSearch()"/>
          <i class="fa fa-search icon" id="search-icon" aria-hidden="true"></i>
        </div> -->
      </div>
      <div class="table-responsive company-table research-table table-border">
          <button (click)="addRowInstructions()" class="btn btn-save" [disabled]="!areAllFieldsFilledInstructions()">
            اضافة الارشادات
          </button>
          <table class="table table-borderless">
            <thead>
              <tr class="t-header">
                <th scope="col">رقم</th>
                <th class="text-center" scope="col">الارشادات</th>
                <th class="text-center" scope="col">Instructions</th>
                <th class="text-center" scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of addInstructions; let i = index">
                <td>{{ i + 1 }}</td>
                <td class="text-center">
                  <textarea type="text" rows="2" class="form-control" [value]="item.arName" (input)="updateInstructions(i, 'arName', $event)" ></textarea>
                </td>
                <td class="text-center">
                  <textarea type="text" rows="2" class="form-control" [value]="item.enName" (input)="updateInstructions(i, 'enName', $event)" ></textarea>
                </td>
                <td class="text-center td-actions">
                  <button class="icon" (click)="removeItemInstructions(i)" style="border: none; background-color: transparent">
                    <img src="../../../../assets/images/trash-can-outline.png" alt="" />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer pt-0">
            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="btnCancelInstructions" (click)="resetFormInstructions()">
              إلغاء
            </button>
            <button type="button" class="btn btn-save" (click)="saveInstructions()">
              حفظ
            </button>
          <!-- <button type="button" class="btn btn-reset" (click)="resetForm()">
            إعادة ملء
          </button>
          <button type="button" class="btn btn-save" (click)="updateCode()" *ngIf="!add">
            تعديل
          </button> -->
        </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-send" data-bs-toggle="modal" data-bs-target="#AddInstructions" id="AddInstructionsBtn" hidden >
  <img src="./images/list-box-outline.png" alt="">
</button>
<!--end linked company modal -->