<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col" *ngFor="let year of years">خلال {{year}} During</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="t-header"  *ngFor="let field of report.fields" scope="col">
                            <th scope="col"></th>
                            <td style="text-align: center;">{{field[2].value}}</td>
                            <td style="text-align: center;">{{field[3].value}}</td>
                            <td style="text-align: center;" *ngFor="let year of years;let i = index">{{field[i+4].value}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end content -->
    </div>
</div>