<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [table]="table"></app-navigate-tables-types>
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    {{table.arName}}
                </div>
                <div class="title flex-fill en">
                    {{table.enName}}
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="min-width: 250px;">{{table.arHeading}}</th>
                            <th class="text-center" scope="col">نهاية عام Year-end {{coverForm.reviewYear}}</th>
                            <th class="text-center" scope="col">التعاملات خلال Transactions during
                                {{+coverForm.reviewYear - 1}}</th>
                            <th class="text-center" scope="col">نهاية عام Year-end {{+coverForm.reviewYear - 1}}</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-start" scope="col" style="min-width: 250px;">{{table.enHeading}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let formContent of table.formContents">
                            <tr class="parent">
                                <td style="text-wrap: balance;">
                                    <div class="content-container">
                                        <span class="ar-name">
                                            {{formContent.code.arName}}
                                        </span>
                                        <ng-container
                                            *ngIf="!(formContent.code.SubCodes.length === 0 && (formContent.code.TypeId === 1 || formContent.code.TypeId === 4)) 
                                                            && !(formContent.code.SubCodes.length > 0 && formContent.code.SubCodes[0].IsTrueAndFalse === true)">
                                            <span class="total" data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                                اجمالي <i class="fa-solid fa-circle-question"></i>
                                            </span>
                                        </ng-container>
                                        <button *ngIf="formContent.code.TypeId != 1 && formContent.code.TypeId != 4"
                                            class="add-button" (click)="addSubCodeRow(formContent.code)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="2">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="true"
                                        name="yesNoOption_{{formContent.code.Id}}"> نعم
                                    <label class="mt-3"></label>
                                </td>
                                <td *ngIf="formContent.code.TypeId == 4" [attr.colspan]="1">
                                    <input type="radio" [(ngModel)]="formContent.valueCheck" [value]="false"
                                        name="yesNoOption_{{formContent.code.Id}}"> لا
                                    <label class="mt-3"></label>
                                </td>
                                <ng-container *ngIf="formContent.code.TypeId != 4">
                                    <td class="text-center">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <input [(ngModel)]="formContent.values[1]"
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                (ngModelChange)="calculateTransactionFormContent(formContent,coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 1)"
                                                (blur)="restoreIfNotPositive(formContent.values, 1)" type="number"
                                                class="tableInputParent" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <input [(ngModel)]="formContent.values[1]"
                                                (ngModelChange)="calculateTransactionFormContent(formContent,coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                (focus)="clearIfZero(formContent.values, 1)"
                                                (blur)="restoreIfNotPositive(formContent.values, 1)" type="number"
                                                class="tableInputParent" />
                                        </ng-container>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <input [(ngModel)]="formContent.values[2]" type="number" disabled
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <input [(ngModel)]="formContent.values[2]" type="number" disabled />
                                        </ng-container>
                                    </td>
                                    <td class="text-center">
                                        <ng-container *ngIf="formContent.code.SubCodes.length>0">
                                            <input [(ngModel)]="formContent.values[0]"
                                                *ngIf="formContent.code.SubCodes[0].IsTrueAndFalse == false"
                                                (focus)="clearIfZero(formContent.values, 0)"
                                                (blur)="restoreIfNotPositive(formContent.values, 0)"
                                                (ngModelChange)="calculateTransactionFormContent(formContent,coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                type="number" class="tableInputParent" />
                                        </ng-container>
                                        <ng-container *ngIf="!(formContent.code.SubCodes.length>0)">
                                            <input [(ngModel)]="formContent.values[0]"
                                                (focus)="clearIfZero(formContent.values, 0)"
                                                (blur)="restoreIfNotPositive(formContent.values, 0)"
                                                (ngModelChange)="calculateTransactionFormContent(formContent,coverForm.status)"
                                                [disabled]="!(!(formContent.code.SubCodes.length > 0) && formContent.code.TypeId == 1)"
                                                type="number" class="tableInputParent" />
                                        </ng-container>
                                    </td>
                                </ng-container>
                                <td class="text-center">
                                    <input type="text" disabled value="{{formContent.code.QuestionCode}}" />
                                </td>
                                <td class="text-start" style="text-wrap: balance; direction: ltr;">
                                    {{formContent.code.enName}}</td>
                            </tr>
                            <ng-container>
                                <ng-container *ngFor="let subCode of formContent.code.SubCodes; let indexSub = index">

                                    <tr>
                                        <td *ngIf="formContent.code.TypeId == 1"
                                            style="text-wrap: balance; text-align: center !important;color: #00af9d;">
                                            {{subCode.arName}}
                                            <button *ngIf="subCode.IsHdd == true" class="add-button"
                                            style="display: inline-block; padding: 1px 10px;"
                                            (click)="addSubCodeToSubRow(subCode)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <span *ngIf="subCode.IsHdd == true" style="float: left;"
                                        class="total" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="الإجمالي لهذا المؤشر موضح بالحقول باللون الاخضر">
                                        اجمالي <i class="fa-solid fa-circle-question"></i>
                                    </span>
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                            <div style="display: flex;">
                                                <select class="form-control"
                                                    style="text-align:center; width: 95% !important;"
                                                    [(ngModel)]="subCode.arName">
                                                    <option value="">اختيار قطاع--</option>
                                                    <option *ngFor="let sector of sectors" value="{{sector.id}}">
                                                        {{sector.code}}-{{sector.arName}}</option>
                                                </select>
                                                <button (click)="removeSubCodeRow(formContent, subCode)"
                                                    style="background-color: white; border:none;">
                                                    <img src=".././../../../assets/images/trash-can-outline.png"
                                                        class="img-fluid">
                                                </button>
                                            </div>
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                            <div style="display: flex;">
                                                <select class="form-control" [(ngModel)]="subCode.arName"
                                                    (ngModelChange)="onArCountryChange(subCode)"
                                                    style="width: 47% !important; text-align:center;margin: 5px;">
                                                    <option value="">اختيار مصدر المال--</option>
                                                    <option *ngFor="let country of countries" [value]="country.arName">
                                                        {{country.code}}-{{country.arName}}</option>
                                                </select>
                                                <select class="form-control" [(ngModel)]="subCode.enName"
                                                    (ngModelChange)="onEnCountryChange(subCode)"
                                                    style="width: 47% !important; text-align:center">
                                                    <option value="">اختيار جنسية المستثمر--</option>
                                                    <option *ngFor="let country of countries" [value]="country.enName">
                                                        {{country.code}}-{{ country.arName }}
                                                    </option>
                                                </select>
                                                <button (click)="removeSubCodeRow(formContent, subCode)"
                                                    style="background-color: white; border:none;">
                                                    <img src=".././../../../assets/images/trash-can-outline.png"
                                                        class="img-fluid">
                                                </button>
                                            </div>
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId == 5">
                                            <div style="display: flex;justify-content: center;">
                                                <input type="text" style="width: 220px !important;"
                                                    [(ngModel)]="subCode.arName" />
                                                <button (click)="removeSubCodeRow(formContent, subCode)"
                                                    style="background-color: white; border:none;">
                                                    <img src=".././../../../assets/images/trash-can-outline.png"
                                                        class="img-fluid">
                                                </button>
                                            </div>

                                        </td>
                                        <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="2">
                                            <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="true"
                                                name="yesNoSubOption_{{subCode.Id}}"> نعم
                                            <label class="mt-3"></label>
                                        </td>
                                        <td *ngIf="subCode.IsTrueAndFalse" [attr.colspan]="1">
                                            <input type="radio" [(ngModel)]="subCode.valueCheck" [value]="false"
                                                name="yesNoSubOption_{{subCode.Id}}"> لا
                                            <label class="mt-3"></label>
                                        </td>

                                        <td *ngIf="!subCode.IsTrueAndFalse" class="text-center">
                                            <input [(ngModel)]="subCode.values[1]"
                                                (focus)="clearIfZero(subCode.values, 1)"
                                                (blur)="restoreIfNotPositive(subCode.values, 1)"
                                                (input)="handleParent(subCode, formContent)" [disabled]="subCode.IsHdd" type="number" />
                                        </td>
                                        <td *ngIf="!subCode.IsTrueAndFalse" class="text-center">
                                            <input [(ngModel)]="subCode.values[2]" type="number" disabled
                                                [ngStyle]="{'background-color': subCode.IsTransaction ? '#FFFFC0' : 'transparent'}" />
                                        </td>
                                        <td *ngIf="!subCode.IsTrueAndFalse" class="text-center">
                                            <input [(ngModel)]="subCode.values[0]"
                                                (focus)="clearIfZero(subCode.values, 0)"
                                                (blur)="restoreIfNotPositive(subCode.values, 0)"
                                                (input)="handleParent(subCode, formContent)" [disabled]="subCode.IsHdd" type="number" />
                                        </td>
                                        <td class="text-center">
                                            <input type="text" disabled value="{{subCode.QuestionCode}}" />
                                        </td>
                                        <td class="text-start" *ngIf="formContent.code.TypeId == 1"
                                            style="text-wrap: balance; text-align: center !important; color: #00af9d; direction: ltr;">
                                            {{subCode.enName}}</td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId == 2">
                                            <select class="form-control"
                                                style="width: 100% !important; text-align:center"
                                                [(ngModel)]="subCode.arName">
                                                <option value="">Choose Sector --</option>
                                                <option *ngFor="let sector of sectors" value="{{sector.id}}">
                                                    {{sector.code}}-{{sector.enName}}</option>
                                            </select>
                                        </td>
                                        <td class="text-center" *ngIf="formContent.code.TypeId == 3">
                                            <div style="display: flex;">
                                                <select class="form-control" [(ngModel)]="subCode.enName"
                                                    (ngModelChange)="onEnCountryChange(subCode)"
                                                    style="width: 47% !important; text-align:center">
                                                    <option value="">Choose Investor Nationality--</option>
                                                    <option *ngFor="let country of countries" [value]="country.enName">
                                                        {{country.code}}-{{ country.enName }}
                                                    </option>
                                                </select>
                                                <select class="form-control" [(ngModel)]="subCode.arName"
                                                    (ngModelChange)="onArCountryChange(subCode)"
                                                    style="width: 47% !important; text-align:center;margin: 5px;">
                                                    <option value="">Choose Source of money--</option>
                                                    <option *ngFor="let country of countries" [value]="country.arName">
                                                        {{country.code}}-{{country.enName}}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="text-center" style=" direction: ltr;"
                                            *ngIf="formContent.code.TypeId == 5">
                                            <div style="display: flex;justify-content: center;">
                                                <input type="text" style="width: 220px !important;"
                                                    [(ngModel)]="subCode.enName" />
                                            </div>

                                        </td>
                                    </tr>
                                    <ng-container *ngFor="let _subCode of subCode.subCodes">
                                        <tr *ngIf="subCode.IsHdd == true">
                                            <td class="text-center">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;"
                                                        [(ngModel)]="_subCode.arName" />
                                                    <button (click)="removeSubCodeFromSubRow(formContent,subCode,_subCode,indexSub)"
                                                        style="background-color: white; border:none;">
                                                        <img src=".././../../../assets/images/trash-can-outline.png"
                                                            class="img-fluid">
                                                    </button>
                                                </div>
                                            </td>
                                            <td class="text-center"><input type="number"
                                                    [(ngModel)]="_subCode.values[1]"
                                                    (focus)="clearIfZero(_subCode.values, 1)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 1)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" /></td>
                                            <td class="text-center">
                                                <input [(ngModel)]="_subCode.values[2]" type="number" disabled />
                                            </td>
                                            <td class="text-center"><input type="number"
                                                    [(ngModel)]="_subCode.values[0]"
                                                    (focus)="clearIfZero(_subCode.values, 0)"
                                                    (blur)="restoreIfNotPositive(_subCode.values, 0)"
                                                    (input)="handelSupParent(formContent,subCode,indexSub)" /></td>
                                            <td class="text-center">
                                                <input disabled type="text" value="{{_subCode.QuestionCode}}" />
                                            <td class="text-center" style=" direction: ltr;">
                                                <div style="display: flex;justify-content: center;">
                                                    <input type="text" style="width: 220px !important;"
                                                        [(ngModel)]="_subCode.enName" />
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                        </ng-container>
                        <tr class="footer" *ngIf="table.IsTotal" style="background: #d3fffb33;">
                            <td style="background: #d3fffb33;">{{table.totalTitleAr}}</td>
                            <td style="background: #d3fffb33;" class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'quarter' : ''">
                                <input disabled type="number" [value]="getSumOfValues(1)" />
                            </td>

                            <!-- Difference between formContent.values[1] and formContent.values[0] -->
                            <td style="background: #d3fffb33;" class="text-center" [ngClass]="coverForm.typeQuarter == 1 ? 'transaction' : ''">
                                <input disabled type="number" [value]="getDifferenceBetweenSums(1, 0)" />
                            </td>

                            <!-- Sum of formContent.values[0] -->
                            <td style="background: #d3fffb33;color: black;" class="text-center" >
                                <input style="background: #d3fffb33;color: black;" disabled type="number" [value]="getSumOfValues(0)" />
                            </td>

                            <td style="background: #d3fffb33;" class="text-center">
                            </td>

                            <td style="background: #d3fffb33;" class="text-start">{{table.totalTitleEn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->

        <!-- start footer -->
        <footer class="projection-notes d-flex flex-wrap my-3 card-box">
            <div class="col-sm-6 footer-ar">
                <p [innerHTML]="table.arNotes"></p>

            </div>
            <div class="col-sm-6 footer-en">
                <p [innerHTML]="table.enNotes"></p>

            </div>
        </footer>
        <!-- end footer -->

        <!-- end content -->
    </div>
</div>