<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th colspan="7">
                                <div class="alert alert-warning">
                                    <i class="fa-solid fa-triangle-exclamation"></i>
                                    <br />
                                    <span> لا يوجد بيانات </span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end content -->
    </div>
</div>