.modal-header {
    display: flex;
    justify-content: space-between; /* Distributes space between children */
    align-items: center; /* Vertically centers children */
  }
  tbody tr th .alert {
    text-align: center;
    
  }
  tbody tr th .alert i {
    font-size: 100px;
  }
  tbody tr th .alert span {
    font-size: 20px;
  }
  #research-btns .btn {
    width: 160px !important;
}
.disabled{
  pointer-events: none;
}