<div class="main-content p-4 main card " style="flex: 1;">
    <app-loader *ngIf="Loader"></app-loader>

    <!-- header -->
    <div class="header d-flex flex-wrap justify-content-between align-items-center">
        <h4 class="title">
            عرض الاستمارة
        </h4>
        <div class="user d-flex justify-content-between align-items-center">
            <div class="dropdown">
                <button type="button" class="btn lang" id="dropdownlang" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    عربي
                    <i class="fa-solid fa-chevron-down"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownlang">
                    <li><a class="dropdown-item" href="#">En</a></li>
                </ul>
            </div>
            <a href="./notification.html" class="notification  active">
                <i class="fa-solid fa-bell"></i>
            </a>
            <div class="user-img">
                <img src=".././../../../assets/images/avatar.PNG" class="img-fluid">
            </div>
        </div>
    </div>
    <!-- end-header -->

    <!-- start content -->
    <div class="companies-details form-details prev-form">
        <div class="header-nav" style="margin-bottom: -10px;">
            <div class="card-box d-flex flex-wrap align-items-center justify-content-between">
                <ul class="links" >
                    <li *ngFor="let item of forms; let i = index" [ngClass]="{'active': i === 0}">
                        <a href="#">{{item.arName}}</a>
                      </li>
                </ul>
            </div>
        </div>
        <div class="arrow-group table-responsive d-flex form-tabs" style="gap:0px;">
            <div class="clipped-element-first arrow" *ngFor="let item of coverForm.tables">
                <a href="#">{{item.arName}}</a>
            </div>
        </div>
        <div class="card-box">
            <div
                class="form-details-section mb-3 d-flex flex-wrap justify-content-between align-items-center w-100">
                <div class="title-ar flex-fill">
                    <h6>سلطنة عمان</h6>
                    <h6>المركز الوطني للإحصاء والمعلومات</h6>
                    <h6>المديرية العامة للاحصاءات الوطنية</h6>
                </div>
                <div class="image d-none d-sm-block">
                    <img class="img-fluid" src=".././../../../assets/images/logo.png" alt="">
                </div>
                <div class="title-en flex-fill text-start">
                    <h6>Sultanate of Oman</h6>
                    <h6>National Center for Statistics & Information</h6>
                    <h6>Directorate General of National Statistics</h6>
                </div>

            </div>
            <div
                class="form-details-section mb-3 d-flex flex-wrap justify-content-between align-items-center w-100">
                <div class="subtitle-ar">
                    <h6>المسح السنوي</h6>
                    <h6>للاستثمار الأجنبي</h6>
                </div>
                <div class="subtitle-en text-start">
                    <h6>THE ANNUAL SURVEY</h6>
                    <h6>OF FOREIGN INVESTMENT</h6>
                </div>
            </div>
            <div class="row details mb-3 mx-0">
                <div class="detail-ar col-md-4 col-6 order-1">
                    <h6>الإستعمال الرسمي</h6>
                </div>
                <div class=" col-md-4 col-sm-6 order-md-2 order-3">
                    <input type="text"  class=" col-md-4 col-sm-6 order-md-2 order-3 w-100">
                </div>
                <div class="detail-en col-md-4 col-6 order-md-3 order-2">
                    <h6>OFFICIAL USE</h6>
                </div>
            </div>
            <div class="row details mb-3 mx-0">
                <div class="detail-ar col-md-4 col-6 order-1">
                    <h6>رمز النشاط</h6>
                </div>
                <div class=" col-md-4 col-sm-6 order-md-2 order-3">
                    <input type="text"  class=" col-md-4 col-sm-6 order-md-2 order-3 w-100">
                </div>
                <div class="detail-en col-md-4 col-6 order-md-3 order-2">
                    <h6>ACTIVITY CODE</h6>
                </div>
            </div>
            <div class="row details mb-3 mx-0">
                <div class="detail-ar col-md-4 col-6 order-1">
                    <h6>رقم الاستبيان</h6>
                </div>
                <div class=" col-md-4 col-sm-6 order-md-2 order-3">
                    <input style="text-align: center;" disabled type="text" value="{{coverForm.id}}"  class=" col-md-4 col-sm-6 order-md-2 order-3 w-100">
                </div>
                <div class="detail-en col-md-4 col-6 order-md-3 order-2">
                    <h6>QUESTIONNAIRE NO.</h6>
                </div>
            </div>
            <div class="row details mb-3 mx-0">
                <div class="detail-ar col-md-4 col-6 order-1">
                    <h6>المرجع. سنة</h6>
                </div>
                <div class=" col-md-4 col-sm-6 order-md-2 order-3">
                    <input type="text"  class=" col-md-4 col-sm-6 order-md-2 order-3 w-100">
                </div>
                <div class="detail-en col-md-4 col-6 order-md-3 order-2">
                    <h6>REF. YEAR</h6>
                </div>
            </div>
            <div class="row footer">
                <div class="col-sm-6 footer-ar">
                    <p>ينص قانون المركز الوطني للإحصاء والمعلومات في المادة رقم ( 19 ) من قانون الاحصائي الصادر
                        بالمرسوم السلطاني رقم
                        55/2019 للمركز في سبيل تحقيق أهدافه طلب ما يراه لازما من بيانات ومعلومات وسجلات إدارية
                        من الأفراد والجهات
                        الحكومية وغير الحكومية، وبدون رسوم، وعلى الأفراد والجهات المشار إليها موافاة المركز بها،
                        وذلك دون الإخلال بما يفرضه
                        القانون من قواعد تكفل سرية وخصوصية بيانات الأفراد
                    </p>
                </div>
                <div class="col-sm-6 footer-en">
                    <p>As the Article (19) law from the Center for Statistic and Informationfor NCSI to achieve
                        the goals, The
                        center have the right to request any necessary data, information and administrative
                        records from
                        individuals, public or private sector free of charge. The individuals and entities
                        should provide data
                        without disruption to the rules imposed by the law to ensure the confidentiality and
                        privacy of individual's
                        data.</p>
                </div>
            </div>


        </div>

        <!-- end content -->

    </div>
</div>