.parent td {
    background-color: #f1f2f4;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ar-name {
    flex: 1;
    text-align: right;
}

.total {
    text-decoration: underline;
    color: #41c3b6;
    margin-left: 10px;
}

.add-button {
    background-color: #00af9d;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.add-button i {
    color: white;
}

tr input[type="number"] {
    width: 115px !important;
}

  /* Dropdown styling */
  .dropdown-menu {
    width: 100%; /* Make the dropdown take the full width */
    max-height: 200px; /* Set a max height for scrollable content */
    overflow-y: auto; /* Add scroll if content exceeds max height */
    text-align: right; /* Align the text to the right */
    display: block;
  }
  
  .dropdown-item {
    display: block; /* Ensure each item appears in a new line */
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1; /* Add hover effect */
  }
  