<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <!-- start table -->
        <div class="content companies projection-table">
            <div class="table-responsive company-table">
                <table class="table table-borderless" *ngIf="report.seconedTable == 'Years'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">المجموع</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][8].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="t-header" *ngFor="let field of report.fields" scope="col">
                            <th scope="col"></th>
                            <td style="text-align: center;">{{field[5].value}}</td>
                            <td style="text-align: center;">{{field[4].value}}</td>
                            <td style="text-align: center;">{{field[0].value}}</td>
                            <td style="text-align: center;">{{field[1].value}}</td>
                            <td style="text-align: center;">{{field[2].value}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-borderless" *ngIf="report.seconedTable == 'ActivitiesRep'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="text-align: center;">النشاط</th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">الإجمالي</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][9].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let activity of getUniqueActivities()">
                            <tr class="t-header" *ngFor="let field of activity.fields; let i = index" scope="col">
                                <td *ngIf="i === 0" [attr.rowspan]="activity.fields.length"
                                    style="vertical-align: middle; text-align: center;">
                                    {{ activity.activityName }}
                                </td>
                                <td style="text-align: center;">{{ field.codeName }}</td>
                                <td style="text-align: center;">{{ field.code }}</td>
                                <td style="text-align: center;">{{ field.totalCode1 }}</td>
                                <td style="text-align: center;">{{ field.totalCode2 }}</td>
                                <td style="text-align: center;">{{ field.totalCode3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <table class="table table-borderless" *ngIf="report.seconedTable == 'CompaniesRep'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="text-align: center;">الشركة</th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">الإجمالي</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][9].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let activity of getUniqueActivities()">
                            <tr class="t-header" *ngFor="let field of activity.fields; let i = index" scope="col">
                                <td *ngIf="i === 0" [attr.rowspan]="activity.fields.length"
                                    style="vertical-align: middle; text-align: center;">
                                    {{ activity.activityName }}
                                </td>
                                <td style="text-align: center;">{{ field.codeName }}</td>
                                <td style="text-align: center;">{{ field.code }}</td>
                                <td style="text-align: center;">{{ field.totalCode1 }}</td>
                                <td style="text-align: center;">{{ field.totalCode2 }}</td>
                                <td style="text-align: center;">{{ field.totalCode3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <table class="table table-borderless" *ngIf="report.seconedTable == 'SectorsRep'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="text-align: center;">القطاع</th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">الإجمالي</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][9].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let activity of getUniqueActivities()">
                            <tr class="t-header" *ngFor="let field of activity.fields; let i = index" scope="col">
                                <td *ngIf="i === 0" [attr.rowspan]="activity.fields.length"
                                    style="vertical-align: middle; text-align: center;">
                                    {{ activity.activityName }}
                                </td>
                                <td style="text-align: center;">{{ field.codeName }}</td>
                                <td style="text-align: center;">{{ field.code }}</td>
                                <td style="text-align: center;">{{ field.totalCode1 }}</td>
                                <td style="text-align: center;">{{ field.totalCode2 }}</td>
                                <td style="text-align: center;">{{ field.totalCode3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <table class="table table-borderless" *ngIf="report.seconedTable == 'GovernoratesRep'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="text-align: center;">المحافظة</th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">الإجمالي</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][9].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let activity of getUniqueActivities()">
                            <tr class="t-header" *ngFor="let field of activity.fields; let i = index" scope="col">
                                <td *ngIf="i === 0" [attr.rowspan]="activity.fields.length"
                                    style="vertical-align: middle; text-align: center;">
                                    {{ activity.activityName }}
                                </td>
                                <td style="text-align: center;">{{ field.codeName }}</td>
                                <td style="text-align: center;">{{ field.code }}</td>
                                <td style="text-align: center;">{{ field.totalCode1 }}</td>
                                <td style="text-align: center;">{{ field.totalCode2 }}</td>
                                <td style="text-align: center;">{{ field.totalCode3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
                <table class="table table-borderless" *ngIf="report.seconedTable == 'WilayatRep'">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" style="text-align: center;">الولاية</th>
                            <th class="text-center" scope="col">المؤشر</th>
                            <th class="text-center" scope="col">الرمز Code</th>
                            <th class="text-center" scope="col">الإجمالي</th>
                            <th class="text-center" scope="col" [attr.colspan]="2">
                                نهاية عام {{report.fields[0][9].value}} Year-end
                            </th>
                        </tr>
                        <tr class="t-header">
                            <th scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <!-- Subheader 1 -->
                            <th class="text-center" scope="col">مدفوعPayments</th>
                            <!-- Subheader 2 -->
                            <th class="text-center" scope="col">مستلمReceipts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let activity of getUniqueActivities()">
                            <tr class="t-header" *ngFor="let field of activity.fields; let i = index" scope="col">
                                <td *ngIf="i === 0" [attr.rowspan]="activity.fields.length"
                                    style="vertical-align: middle; text-align: center;">
                                    {{ activity.activityName }}
                                </td>
                                <td style="text-align: center;">{{ field.codeName }}</td>
                                <td style="text-align: center;">{{ field.code }}</td>
                                <td style="text-align: center;">{{ field.totalCode1 }}</td>
                                <td style="text-align: center;">{{ field.totalCode2 }}</td>
                                <td style="text-align: center;">{{ field.totalCode3 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end content -->
    </div>
</div>