<!-- main content -->
<app-loader *ngIf="showLoader"></app-loader>
<div class="p-4 main card " style="flex: 1;     min-height: 100vb;">

    <app-top-screen [title]="'عرض تفاصيل الباحث'"></app-top-screen>

    <!-- start researcher header -->
    <div class="card-box d-flex align-items-center mb-3 company-card">
        <div class="image-box" style="width:50px;">
            <img class="researcher-image " src="../../../../assets/images/avatar.PNG" alt="">
        </div>

        <div class="researcher-info">
            <h6 class="user">{{researcher.arName}}</h6>
            <div class="details d-flex flex-wrap">
                <div class="detail-box d-flex">
                    <p class="m-0 mx-2 name">اسم المستخدم :</p>
                    <p class="data m-0">{{researcher.userName}}</p>
                </div>
                <div class="detail-box d-flex">
                    <p class="m-0 mx-2 name">البريد الإلكترونى :</p>
                    <p class="data m-0">{{researcher.email}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-grow-1 gap-1 left-align-button" >
            <button type="button" class="btn btn-send sendForm" data-bs-toggle="modal"
                data-bs-target="#sendFormCompany" *ngIf="role == 'Researchers'">
                <img src="../../../../assets/images/email-edit-outline.png" alt="" />
                إرسال إستمارة
            </button>
        </div>
    </div>
    <!-- end researcher header -->


    <!--start total -->
    <div class="row totals">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
            <div class="card company text-center">
                <div class="header py-3">
                    <div class="total-num">
                        {{companiesCount}}
                    </div>
                    <div class="total-title">
                        إجمالي عدد الشركات
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3" *ngFor="let static of formStatics" >
            <div class="card company text-center" style="cursor: pointer;" (click)="openModal()">
                <div class="header py-3">
                    <div class="total-num">
                        {{static.count}}
                    </div>
                    <div class="total-title">
                        {{static.name}}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <!--end total -->

    <!--start table -->
    <div class="tab-content precise">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="card-box">
                <div class="header d-flex align-items-center justify-content-between">
                    <h4 class="title">
                        قائمة الشركات
                    </h4>
                </div>
                <div class="table-responsive research-details-table">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="t-header">
                                <th scope="col">اسم الشركة</th>
                                <th class="text-center" scope="col">رقم السجل التجارى</th>
                                <th class="text-center" scope="col">رقم الشركة</th>
                                <th class="text-center" scope="col">رمز النشاط</th>
                                <th class="text-center" scope="col">النشاط</th>
                                <th class="text-center" scope="col">عنوان الشركة</th>
                                <th class="text-center" scope="col">ملاحظات</th>
                                <th class="text-center" scope="col">الحالة</th>
                                <th class="text-center" scope="col">الأستمارات</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let company of companies">
                                <td>{{company.arName}}</td>
                                <td class="text-center">021124444</td>
                                <td class="text-center">{{company.id}}</td>
                                <td class="text-center">184510</td>
                                <td class="text-center">الترفيه</td>
                                <td class="text-center">{{company.address}}</td>
                                <td class="text-center notes">
                                    ملاحظات
                                    <img src="../../../../assets/images/information-slab-cir.png" alt="">
                                </td>
                                <td *ngIf="company.status" class="text-center status-active">نشط</td>
                                <td *ngIf="!company.status" class="text-center status-active"
                                    style="color: red !important;">غير نشط</td>
                                <td class="text-center">
                                    <button class="btn btn-form" [routerLink]="['/CompanyHome', company.id]">
                                        <a >إستماره</a>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!--end table -->


</div>
<!-- end main content -->
<div class="modal company-modal fade" id="sendFormCompany" tabindex="-1" aria-labelledby="add" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title" id="sendForm">إرسال استمارة</h5>
            </div>
            <div class="modal-subtitle modal-header d-flex justify-content-between align-items-center pt-0">
                <h6 class="m-0" style="width: calc(100% - 130px)">الشركات</h6>
                <div class="search">
                    <input (keydown.enter)="researcherCompanySerach()" [(ngModel)]="text" class="form-control"
                        type="text" name="search" placeholder="البحث" />
                    <i class="fa fa-search icon" id="search-icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="table-responsive company-modal-table mx-2">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col">اسم الشركة</th>
                            <th class="text-center" scope="col">رقم السجل التجاري</th>
                            <th class="text-center" scope="col">رقم الشركة</th>
                            <th class="text-center" scope="col">رمز النشاط</th>
                            <th class="text-center" scope="col">النشاط</th>
                            <th class="text-center" scope="col">عنوان الشركة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of researcher.companies">
                            <td>
                                <input type="checkbox" [value]="company.id" (change)="onCheckboxChange($event, company)"
                                    [checked]="isSelected(company.id)" type="checkbox" name="companyName1"
                                    id="companyName1" />
                                {{company.arName}}
                            </td>
                            <td class="text-center">{{company.compRegNumber}}</td>
                            <td class="text-center">{{company.id}}</td>
                            <td class="text-center">184510</td>
                            <td class="text-center">الترفيه</td>
                            <td class="text-center">{{company.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form>
                <div class="modal-body pb-1">
                    <div class="row">
                        <div class="col-sm-12 mb-2">
                            <div class="input-floating-label mb-0">
                                <select class="form-control" style="width: 100%" name="formType"
                                    (change)="onSelectMessage($event)">
                                    <option selected disabled value="0">
                                        --اختار الاستماره--
                                    </option>
                                    <option *ngFor="let form of forms" [value]="form.id">{{form.arName}}</option>
                                </select>
                                <label for="user">الاستماره</label>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <div class="input-floating-label mb-0">
                                <select class="form-control" style="width: 100%" name="messageType"
                                    (change)="onSelectMessage($event)">
                                    <option selected disabled value="0">
                                        --اختار الرساله--
                                    </option>
                                    <option *ngFor="let message of messages" [value]="message.Id">{{message.arName}}
                                    </option>
                                </select>
                                <label for="user">الرسالة</label>
                            </div>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <input class="form-control input-modal" type="text" placeholder="عنوان الرسالة"
                                [value]="selectedMessage == undefined ? '' : selectedMessage.arSubject" readonly />
                        </div>
                        <div class="col-sm-12 mb-2">
                            <textarea class="form-control input-modal" rows="2" placeholder="نص الرسالة"
                                readonly>{{ selectedMessage == undefined ? '' : selectedMessage.arDetails}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0" style="border-top: none">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="closePopup">
                        إلغاء
                    </button>
                    <button (click)="onSubmit()" type="button" class="btn btn-save">إرسال</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal company-modal fade" id="formsStatics" tabindex="-1" aria-labelledby="formsStatics" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title" id="sendForm">إرسال استمارة</h5>
            </div>
            <div class="modal-subtitle modal-header d-flex justify-content-between align-items-center pt-0">
                <h6 class="m-0" style="width: calc(100% - 130px)">الشركات</h6>
                <div class="search">
                    <input (keydown.enter)="researcherCompanySerach()" [(ngModel)]="text" class="form-control"
                        type="text" name="search" placeholder="البحث" />
                    <i class="fa fa-search icon" id="search-icon" aria-hidden="true"></i>
                </div>
            </div>
            <div class="table-responsive company-modal-table mx-2">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col">اسم الشركة</th>
                            <th class="text-center" scope="col">رقم السجل التجاري</th>
                            <th class="text-center" scope="col">رقم الشركة</th>
                            <th class="text-center" scope="col">رمز النشاط</th>
                            <th class="text-center" scope="col">النشاط</th>
                            <th class="text-center" scope="col">عنوان الشركة</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let company of researcher.companies">
                            <td>
                                <input type="checkbox" [value]="company.id" (change)="onCheckboxChange($event, company)"
                                    [checked]="isSelected(company.id)" type="checkbox" name="companyName1"
                                    id="companyName1" />
                                {{company.arName}}
                            </td>
                            <td class="text-center">{{company.compRegNumber}}</td>
                            <td class="text-center">{{company.id}}</td>
                            <td class="text-center">184510</td>
                            <td class="text-center">الترفيه</td>
                            <td class="text-center">{{company.address}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>