<div class="companies-details form-details prev-form" style="max-width: 74rem;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm"
            [isCertificationActive]="isCertificationActive"></app-navigate-tables-types>
        <!-- start table -->
        
        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    الشهادة
                </div>
                <div class="title flex-fill en">
                    Certification 
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th class="col-3" scope="col">البيان</th>
                            <th class="text-center col-3" scope="col"></th>
                            <th class="text-start col-3" scope="col">Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-wrap: balance;">اسماء وعناوين الشركات االمشمولة في تقرير هذة المؤسسة</td>
                            <td class="text-center">                                    
                                <textarea style="width: 100%;" ></textarea>                                
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Names and Addresses of all companies included in this report</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">اسم معبئ الاستمارة : </td>
                            <td class="text-center">                                    
                                <input type="text" style="width: 100%;" />                                
                            </td>
                            <td style="text-wrap: balance;" class="text-start"> : COMPLETED BY</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">رقم الهاتف : </td>
                            <td class="text-center">                                    
                                <input type="text" style="width: 100%;" />                                
                            </td>
                            <td style="text-wrap: balance;" class="text-start"> : TELEPHONE NO</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">تاريخ التعبئة : </td>
                            <td class="text-center">                                    
                                <input type="date" style="width: 100%;" />                                
                            </td>
                            <td style="text-wrap: balance;" class="text-start"> : DATE OF COMPLETION</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->
        <!-- end content -->
    </div>
</div>