<!-- main content -->
<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card " style="flex: 1;">

    <app-top-screen [title]="'عرض تفاصيل الشركة'"></app-top-screen>


    <!-- start content -->
    <div class="companies-details">
        <div class="header-nav">
            <div class="card-box mb-3">
                <ul>
                    <li class="active">
                        <a routerLink="/Companies-Details/{{companyId}}">التفاصيل</a>
                    </li>
                    <li>
                        <a href="#">الإستمارات</a>
                    </li>
                    <li>
                        <a routerLink="/CopmanyMessages/{{companyId}}">المراسلات</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row w-100 m-0 mb-2">
            <div class="col-sm-12 card-box company-card mb-2 d-flex align-items-center flex-wrap">
                <div class="image-box">
                    <img src="../../../../assets/images/companyLogo.png" class="img-fluid" alt="company">
                </div>
                <div class="detail">
                    <h4 class="title">{{company.arName}}</h4>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/deskphone.png" alt="">
                        <p class="m-0 mx-2 name">رقم الهاتف :</p>
                        <p class="data m-0">{{company.phoneNumber}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/fax.png" alt="">
                        <p class="m-0 mx-2 name">فاكس :</p>
                        <p class="data m-0">{{company.fax}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/email-outline.png" alt="">
                        <p class="m-0 mx-2 name">البريد الإلكترونى :</p>
                        <p class="data m-0">Test@company.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row more-details">
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <img src="../../../../assets/images/map-marker-radius-ou.png" alt="">
                                <p class="m-0 mx-2 name">عنوان :</p>
                                <p class="data text-nowrap m-0">{{company.address}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/archive-marker-outli.png" alt="">
                                    <p class="m-0 mx-2 name">صندوق البريد :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.mailBox}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/printer-pos-outline.png" alt="">
                                    <p class="m-0 mx-2 name">الرمز البريدي :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.postalCode}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/select-marker.png" alt="">
                                    <p class="m-0 mx-2 name">رقم الولاية :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.wilayatId}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/select-marker.png" alt="">
                                    <p class="m-0 mx-2 name">الولاية :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.wilayat}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/domain.png" alt="">
                                    <p class="m-0 mx-2 name">المحافظة: :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.governorates}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/domain.png" alt="">
                                    <p class="m-0 mx-2 name">رمز الشركة :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.id}}</p>
                            </div>
                        </div>
                        <div class="col-6 pe-0">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/book-account-outline.png" alt="">
                                    <p class="m-0 mx-2 name">رمز القطاع :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.sectorId}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/book-cog-outline.png" alt="">
                                    <p class="m-0 mx-2 name">النشاط الاقتصادي الرئيسي :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.activity}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src=" ../../../../assets/images/notebook-outline.png" alt="">
                                    <p class="m-0 mx-2 name">النشاط الاقتصادي الثانوي :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.subActivity}}</p>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/bulletin-board.png" alt="">
                                    <p class="m-0 mx-2 name">رقم البلدية :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.municipalityNumber}}</p>
                            </div>
                        </div>
                        <div class="col-6 pe-0">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/briefcase-variant-ou.png" alt="">
                                    <p class="m-0 mx-2 name">رقم تسجيل الشركة :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.compRegNumber}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/calculator-variant-o.png" alt="">
                                    <p class="m-0 mx-2 name">مدة المحاسبة :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.accountingPeriod}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex">
                                <img src="../../../../assets/images/briefcase-outline.png" alt="">
                                <p class="m-0 mx-2 name">النوع القانوني :</p>
                                <p class="data text-nowrap m-0">{{company.legalType}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box file">
                    <div class="header">
                        <h4 class="title">المرفقات</h4>
                        <input type="file" (change)="onFilesSelected($event)"  multiple hidden id="fileInput">
                        <button class="btn upload-btn" (click)="triggerFileInput()">
                            <img src="../../../../assets/images/tray-arrow-up.png" alt="">
                          </button>
                    </div>
                    <div *ngFor="let pdf of companyPdfs" class="file-section d-flex justify-content-between align-items-center">
                        <div class="file-box d-flex justify-content-between align-items-center">
                            <img src="../../../../assets/images/pdf.png" alt="">
                            <div class="file-data">
                                <p class="m-0 data">{{pdf.arName}}</p>
                            </div>
                        </div>
                        <div class="btns d-flex">
                            <button class="btn btn-delete" (click)="showAlert(pdf.id)" ><span>حذف</span></button>
                            <button class="btn btn-download" (click)="downloadPdf(pdf.path)">تحميل</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="header">
                        <h4 class="title">الخريطة</h4>
                    </div>
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1890934.1212524762!2d58.778783661013925!3d22.23132378947907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e8f65975e59368b%3A0x8afa281d3b4e749f!2z2YXYrdin2YHYuNipINin2YTYr9in2K7ZhNmK2KnYjCDYudmF2KfZhg!5e0!3m2!1sar!2seg!4v1715825145305!5m2!1sar!2seg"
                            height="250" style="border:0; border-radius: 15px; width: 100%;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- end content -->

    </div>
</div>