<!-- main content -->
<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card " style="flex: 1;">

    <app-top-screen [title]="'companyDetails.title' |translate"></app-top-screen>


    <!-- start content -->
    <div class="companies-details" >
        <div class="header-nav" *ngIf="role == 'Admin' || role==='User' || role==='Researchers'">
            <div class="card-box mb-3">
                <ul>
                    <li class="active">
                        <a routerLink="/Companies-Details/{{companyId}}">التفاصيل</a>
                    </li>
                    <li *ngIf="permissionForms.isName">
                        <a routerLink="/CompanyHome/{{companyId}}">الاستمارات</a>
                    </li>
                    <li *ngIf="permissionCopmanyMessages.isName">
                        <a routerLink="/CopmanyMessages/{{companyId}}">المراسلات</a>
                    </li>
                    <li *ngIf="permissionCopmanyGeneralInformation.isName">
                        <a routerLink="/CopmanyGeneralInformation/{{companyId}}">المعنيين</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row w-100 m-0 mb-2">
            <div class="col-sm-12 card-box company-card mb-2 d-flex align-items-center flex-wrap">
              <div class="image-box position-relative" style="width:130px !important;border:1px solid gray;height: 130px;">
                <!-- عرض الصورة المختارة أو الصورة الافتراضية -->
                <img [src]="selectedImageUrl || '../../../../assets/images/companyLogo.png'" class="img-fluid" alt="">
                
                <!-- زر تغيير الصورة -->
                <button class="change-image-btn" (click)="triggerImageUpload()"  (mouseover)="hovering=true" (mouseleave)="hovering=false">
                    <img src="../../../../assets/images/edit-icon.png" *ngIf="hovering">
                    <span *ngIf="hovering">Change Image</span>
                </button>
                
                    <!-- Input لاختيار الصور فقط -->
                    <input type="file"  (change)="onImageSelected($event)" accept="image/*" hidden #imageInput>
                </div>
                <div class="detail">
                    <h4 class="title">{{company.arName}}</h4>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/deskphone.png" alt="">
                        <p class="m-0 mx-2 name">{{'companyPage.companyNumber' |translate}} :</p>
                        <p class="data m-0">{{company.id}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/deskphone.png" alt="">
                        <p class="m-0 mx-2 name">{{'shared.words.phoneNumber' |translate}} :</p>
                        <p class="data m-0">{{company.phoneNumber}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/deskphone.png" alt="">
                        <p class="m-0 mx-2 name">{{'shared.words.landline' |translate}}:</p>
                        <p class="data m-0">{{company.telNumber}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/fax.png" alt="">
                        <p class="m-0 mx-2 name">{{'companyPage.fax' |translate}} :</p>
                        <p class="data m-0">{{company.fax}}</p>
                    </div>
                    <div class="detail-box flex-nowrap d-flex">
                        <img src="../../../../assets/images/email-outline.png" alt="">
                        <p class="m-0 mx-2 name">{{'shared.words.email' |translate}} :</p>
                        <p class="data m-0">{{companyEmails}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row more-details">
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="row">
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <p class="m-0 mx-2 name">{{'companyPage.companyAddress' |translate}} :</p>
                                <p class="data text-nowrap m-0">{{company.address}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <p class="m-0 mx-2 name">{{'companyPage.InstitutionsResidence' |translate}} :</p>
                                <p class="data text-nowrap m-0">{{company.institutionHeadquarters}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/archive-marker-outli.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.mailbox' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.mailBox}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/printer-pos-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.zipCode' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.postalCode}}</p>
                            </div>
                        </div>
                        
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/select-marker.png" alt="">
                                    <p class="m-0 mx-2 name">{{'State.State' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.wilayat}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/domain.png" alt="">
                                    <p class="m-0 mx-2 name">{{'Governorate.Governorate' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.governorates}}</p>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/bulletin-board.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.municipalLicense' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.municipalityNumber}}</p>
                            </div>
                        </div>
                        <div class="col-6 pe-0">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/briefcase-variant-ou.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.commercialRegistrationNumber' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.compRegNumber}}</p>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/calculator-variant-o.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.StartFiscalYear' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{getDateOnly(company.accountingPeriod)}}</p>
                            </div>
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/calculator-variant-o.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.EndFiscalYear' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{getDateOnly(company.completionAccPeriod)}}</p>
                            </div>
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/calculator-variant-o.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.DateCommencementWork' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{getDateOnly(company.dateOfWork)}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex col-6">
                                <img src="../../../../assets/images/briefcase-outline.png" alt="">
                                <p class="m-0 mx-2 name">{{'companyPage.LegalForm' |translate}} :</p>
                                <p class="data text-nowrap m-0">{{legalTypeName}}</p>
                            </div>
                            <div class="detail-box flex-nowrap d-flex col-6">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/calculator-variant-o.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.CapitalValue' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.institutionVlaue}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex col-6">
                                <img src="../../../../assets/images/briefcase-outline.png" alt="">
                                <p class="m-0 mx-2 name">{{'companyPage.InstitutionsResidence' |translate}} :</p>
                                <p class="data text-nowrap m-0">{{company.institutionHeadquarters}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="row">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-12">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/book-account-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'sector.sectorCode' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.sectorCode}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex col-12">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/book-account-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'sector.sectorName' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.sectorName}}</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-12">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/book-cog-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'activity.activityMainCode' |translate}} :</p>
                                </div>
                                <p class="data text-wrap m-0">{{company.activityCode}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex col-12">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src=" ../../../../assets/images/notebook-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'activity.activityMain' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.arActivityName}}</p>
                            </div>

                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="detail-box flex-nowrap d-flex col-12">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src="../../../../assets/images/book-cog-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'activity.secondaryActivityCode' |translate}} :</p>
                                </div>
                                <p class="data text-wrap m-0">{{company.subActivityCode}}</p>
                            </div>
                            <div class="detail-box flex-wrap d-flex col-12">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <img src=" ../../../../assets/images/notebook-outline.png" alt="">
                                    <p class="m-0 mx-2 name">{{'activity.secondaryActivity' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.subActivityName}}</p>
                            </div>

                        </div>
                        
                        <div class="col-12">
                            <div class="detail-box flex-wrap d-flex">
                                <div class="d-flex flex-nowrap align-items-center">
                                    <img src="../../../../assets/images/domain.png" alt="">
                                    <p class="m-0 mx-2 name">{{'companyPage.Website' |translate}} :</p>
                                </div>
                                <p class="data text-nowrap m-0">{{company.webSite}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box file">
                    <div class="header">
                        <h4 class="title">{{'companyDetails.attachments' |translate}}</h4>
                        <input type="file" (change)="onFilesSelected($event)"  multiple hidden id="fileInput" *ngIf="permission.download" >
                        <button class="btn upload-btn" (click)="triggerFileInput()"  *ngIf="permission.download">
                            <img src="../../../../assets/images/tray-arrow-up.png" alt="">
                          </button>
                    </div>
                    <div class="table-responsive company-table research-table">
                        <table class="table table-borderless">
                            <thead>
                                <tr class="t-header">
                                    <th scope="col">{{'shared.words.number' |translate}}</th>
                                    <th class="text-center" scope="col">{{'companyDetails.attachments' |translate}}</th>
                                    <th class="text-center" scope="col"></th>
                                </tr>
                            </thead>
                  
                            <tbody>
                                <tr *ngFor="let pdf of companyPdfs; let i = index">
                                    <td>
                                        {{ i + 1 }}
                                    </td>
                                    <td class="text-center">{{ pdf.arName }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger" style='border-radius: 6px;
                                        font-family: "SST Arabic";
                                        font-size: 15px;
                                        font-weight: bold;
                                        font-style: normal;
                                        width: 70px;'(click)="showAlert(pdf.id)" *ngIf="permission.download"><span>{{'shared.button.delete' |translate}}</span></a>
                                        <a class="btn btn-download" style='border-radius: 6px;
                                        background: #133b8b44;
                                        font-family: "SST Arabic";
                                        font-size: 15px;
                                        font-weight: bold;
                                        font-style: normal;
                                        color: #133c8b; width: 70px;' (click)="downloadPdf(pdf.path)" *ngIf="permission.download">{{'shared.button.download' |translate}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 box-details mb-3">
                <div class="card-box">
                    <div class="header">
                        <h4 class="title">{{'companyDetails.map' |translate}}</h4>
                    </div>
                    <div style="text-align: center;" [innerHTML]="sanitizedEmbededContent"></div>
                </div>
            </div>
        </div>
        <!-- end content -->

    </div>
</div>