<app-loader *ngIf="Loader" style="height: 100%;"></app-loader>
<div style="padding: 30px 30px 0px 30px;">
    <app-top-screen [title]="'الاستمارات السابقة للشركة'"></app-top-screen>

</div>
<div class="row" style="margin: 0px 40px;
    padding: 0px 10px 10px 10px;">
    <div class="col-3" style="    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
    padding: 18px;
    text-align: center;
    background-color: white;margin: 15px;" (click)="formNavigate(form.form.id);" *ngFor="let form of coverForm">
        <div class="user-img" style="margin-bottom: 15px;">
            <img src=".././../../../assets/images//file-document-outline.png">
        </div>
        <h4>{{form.form.arName}}</h4>
        <p *ngIf="form.form.Type == 1">
            {{form.form.reviewYear}} - سنوية
        </p>
        <p *ngIf="form.form.Type == 2">
            {{form.form.reviewYear}} - ربعية
        </p>
        <div class="shine"></div>
        <div class="background">
            <div class="tiles">
                <div class="tile tile-1"></div>
                <div class="tile tile-2"></div>
                <div class="tile tile-3"></div>
                <div class="tile tile-4"></div>

                <div class="tile tile-5"></div>
                <div class="tile tile-6"></div>
                <div class="tile tile-7"></div>
                <div class="tile tile-8"></div>

                <div class="tile tile-9"></div>
                <div class="tile tile-10"></div>
            </div>

            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
        </div>
    </div>
</div>