<app-loader *ngIf="showLoader"></app-loader>
<div class="main-content p-4 main card  " style="flex: 1;">
  <!-- header -->
  <app-top-screen [title]="'المؤشرات العامة'"></app-top-screen>
  <!-- end-header -->
  <div class="header-nav companies-details">
    <div class="card-box mb-3">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/GeneralIndicators">المؤشرات العامة</a>
        </li>
        <li>
          <a routerLink="/OmanMaps">خرائط عمان</a>
        </li>
        <li>
          <a routerLink="/ChangePercentage">نسبة التغير</a>
        </li>
        <li>
          <a routerLink="/YearOfLaunch">تحديد سنة الانطلاق</a>
        </li>
        <!-- <li>
          <a routerLink="/OmanMapSetting">إعدادات خرائط عمان</a>
        </li> -->
      </ul>
    </div>
  </div>
  <!-- start content -->
  <div class="content companies researcher">
    <div class="header d-flex mb-0">
      <div class="title">
        قائمة المؤشرات العامة
      </div>
      <div class="btns d-flex">
        <div class="search">
          <input (keydown.enter)="generalIndicatorsSearch()" [(ngModel)]="searchText" class="form-control" type="text"
            name="search" placeholder="البحث">
          <i (click)="generalIndicatorsSearch()" class="fa fa-search icon" id="search-icon" aria-hidden="true"></i>
        </div>
        <div class="d-flex gap-1 flex-grow-1" id="research-btns">
          <button (click)="addGeneralIndicator()" type="button" class="btn btn-add" data-bs-toggle="modal"
            data-bs-target="#addSector">
            <img src="../../../../assets/images/briefcase-plus-outli.png" alt="">
            اضافة مؤشرات عامة
          </button>

        </div>
      </div>
    </div>

    <div class="table-responsive company-table research-table">
      <table class="table table-borderless">
        <thead>
          <tr class="t-header">
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">اسم المؤشر</th>
            <th class="text-center" scope="col">السنة من</th>
            <th class="text-center" scope="col">السنة إلى</th>
            <th style="width: 150px;" class="text-center" scope="col"> </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let genIndicator of generalIndicators;let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">{{genIndicator.codeName}}</td>
            <td class="text-center">{{genIndicator.yearFrom}}</td>
            <td class="text-center">{{genIndicator.yearTo}}</td>
            <td class="text-center">
              <button class="icon" (click)="DeleteGeneralIndicator(genIndicator.id)">
                <img src="../../../../assets/images/trash-can-outline.png" alt="">
              </button>
              <button class="icon" data-bs-toggle="modal" (click)="openUpdatePopup(genIndicator.id)"
                data-bs-target="#addSector">
                <img src="../../../../assets/images/pencil-outline.png" alt="">
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="noData">
          <tr>
            <th colspan="7">
              <div class="alert alert-warning">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <br />
                <span> لا يوجد بيانات </span>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <!-- end content -->
</div>
<app-pagination [pageNumber]="currentPage" [lastPage]="isLastPage" [emptyData]="noData" [pagesCount]="totalPages"
  (pageChange)="onPageChange($event)"></app-pagination>
<div class="modal company-modal fade" id="addSector" tabindex="-1" aria-labelledby="add" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add">إضافة مؤشرات عامة</h5>
      </div>
      <div class="modal-body">
        <!-- اختيار المؤشر -->
        <div class="dropdown" [class.show]="isDropdownOpen">
          <div style="height: 35px !important;width: 100%;">
            <input type="text" id="searchableDropdown" class="form-control input-modal" placeholder="Search..."
              [(ngModel)]="searchTerm" name="searchTerm" (click)="toggleDropdown()" (input)="filterFormContent()" />
            <ul class="dropdown-menu" [class.show]="isDropdownOpen"
              style="padding: 0 9px; max-height: 120px;width: 95%;text-align: right;">
              <li class="dropdown-item" *ngFor="let formContent of filteredFormContents"
                (click)="selectFormContent($event,formContent)">
                {{formContent.arName}}
              </li>
            </ul>
            <label for="inputField">اختر المؤشر</label>
          </div>
        </div>
        <span *ngIf="isFormContentError" style="color: red; margin-bottom: 15px;">{{ codeErrorMessage }}</span>
        <div class="dropdown mt-3" [class.show]="isSectorsDropdownOpen" *ngIf="selectSector">
          <div style="height: 35px !important;width: 100%;">
            <input type="text" id="searchableDropdown" class="form-control input-modal" placeholder="Search..."
              [(ngModel)]="sectorsSearchTerm" name="sectorsSearchTerm" (click)="sectorsToggleDropdown()"
              (input)="filterSectors()" />
            <ul class="dropdown-menu" [class.show]="isSectorsDropdownOpen"
              style="padding: 0 9px; max-height: 120px;width: 95%;text-align: right;">
              <li class="dropdown-item" *ngFor="let sector of filteredSectors" (click)="SelectSector($event,sector)">
                {{sector.arName}}
              </li>
            </ul>
            <label for="inputField">اختر القطاع</label>
          </div>
        </div>
        <span *ngIf="isSectorError" style="color: red; margin-bottom: 15px;">{{ sectorErrorMessage }}</span>
        <div class="form-check mt-3" style="display: flex; align-items: center;">
          <label style="position: relative;background: none;margin-top:15px;" for="selectSector"
            class="form-check-label">اختيار
            القطاع</label>
          <input type="checkbox" id="selectSector" class="form-check-input" [(ngModel)]="selectSector"
            style="margin-right: 15px;" />
        </div>
        <!-- إضافة أزرار نوع الرسم البياني -->
        <div class="chart-buttons">
          <button type="button" class="chart-btn" [class.active]="chartType === 1" (click)="setChartType(1)">
            <img src="assets/images/chart-bar.png" alt="" />
            <span>مجمعة</span>
          </button>
          <button type="button" class="chart-btn" [class.active]="chartType === 2" (click)="setChartType(2)">
            <img src="assets/images/chart-waterfall.png" alt="" />
            <span>نقاط</span>
          </button>
          <button type="button" class="chart-btn" [class.active]="chartType === 3" (click)="setChartType(3)">
            <img src="assets/images/circle.png" alt="" />
            <span>دائري</span>
          </button>
        </div>
        <span *ngIf="isChartTypeError" style="color: red; margin-bottom: 15px;">{{ chartErrorMessage }}</span>

        <!-- اختيار السنوات -->
        <div class="row">
          <div class="col-sm-6 select-container" *ngIf="!selectSector">
            <select [(ngModel)]="yearFrom" name="yearFrom" class="form-select">
              <option selected [ngValue]="0" disabled>اختر السنه</option>
              <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
            </select>
            <label>السنه من</label>
          </div>
          <div class="col-sm-12 select-container" *ngIf="selectSector">
            <select [(ngModel)]="yearFrom" name="yearFrom" class="form-select">
              <option selected [ngValue]="0" disabled>اختر السنه</option>
              <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
            </select>
            <label>اختر السنة </label>
          </div>
          <div class="col-sm-6 select-container" *ngIf="!selectSector">
            <select [(ngModel)]="yearTo" name="yearTo" class="form-select">
              <option selected [ngValue]="0" disabled>اختر السنه</option>
              <option *ngFor="let year of years" [ngValue]="year">{{ year }}</option>
            </select>
            <label>السنه إلى</label>
          </div>
        </div>
        <span *ngIf="isYearError" style="color: red; margin-bottom: 15px;">{{ yearErrorMessage }}</span>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal" id="btnCancel" (click)="onReset()">
          إلغاء
        </button>
        <button (click)="saveGeneralIndicator()" *ngIf="!isUpdate" type="button" class="btn btn-save">
          حفظ
        </button>
        <button (click)="updateGeneralIndicator()" type="button" class="btn btn-save" *ngIf="isUpdate" type="button"
          class="btn btn-save">
          تعديل
        </button>
      </div>
    </div>
  </div>
</div>