.form-group {
  position: relative;
  margin-top: 5px !important; /* Adjust based on your layout */
}

label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  background-color: white; /* Match the background color */
  padding: 0 5px;
}

/* Default direction (e.g., Arabic - RTL) */
label[dir="rtl"] {
  right: 15px;
}

/* English (LTR) layout */
label[dir="ltr"] {
  left: 15px;
}

/* Input styling */
input {
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

/* Focus or non-placeholder-shown input */
input:focus + label,
input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
}

select:focus + label,
select:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.75);
}

td{
  min-width: 65px;
  text-wrap: balance !important;
}
.btnStatus{
  color: black !important;
  height: 30px;
  border: 0px !important;
  padding: 0px 10px 0px 10px;
  background-color: #f0f0f0 !important;
}
.tableInputParent{
  border-color: #00AF9D !important;
}

.boldBorderRow {
  border-bottom: .1rem solid #c2c4c0 !important; /* Change the color and thickness as needed */
}
.modal-content{
  background-color: #e6f3f1 !important;
}
/* التصميم للغة العربية (من اليمين لليسار) */
.rtl-layout {
  direction: rtl !important;
  text-align: right !important;
}

/* التصميم للغة الإنجليزية (من اليسار لليمين) */
.ltr-layout {
  direction: ltr !important;
  text-align: left !important;
}
