<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'عرض الاستمارة'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <div class="companies-details form-details prev-form">
        <div class="header-nav" style="margin-bottom: -10px">
            <app-navigate-tables-types [coverForm]="coverForm"></app-navigate-tables-types>
            <!-- start table -->
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th scope="col" colspan="">البيان</th>
                            <th scope="col" colspan="">Total الاجمالى</th>
                            <th class="text-center" scope="col" [attr.colspan]="tablePartsCount">نهاية عام Year-end 2021</th>
                            <th class="text-center" scope="col" colspan="">الرمز Code</th>
                            <th class="text-start" scope="col" colspan="">Items</th>
                        </tr>
                        <tr class="t-header">
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col" *ngFor="let part of table.tableParts">{{part.arName}}{{part.enName}}</th>
                            <th class="text-center" scope="col"></th>
                            <th class="text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let formContent of table.formContents">
                            <td>{{formContent.code.arName}}</td>
                            <td class="text-center"><input type="number" placeholder="0" /></td>
                            <td class="text-center" *ngFor="let part of table.tableParts"><input type="number"  placeholder="0" /></td>
                            <td class="text-center"><input type="text" value="{{formContent.code.QuestionCode}}" /></td>
                            <td class="text-start">{{formContent.code.enName}}</td>
                        </tr>
                        <tr class="footer">
                            <td>الاجمالى</td>
                            <td class="text-center">
                                <input type="number" placeholder="0" />
                            </td>
                            <td *ngFor="let part of table.tableParts" class="text-center">
                                <input type="number" placeholder="0" />
                            </td>
                            <td class="text-center">
                                <input type="text" value="900" /></td>
                            <td class="text-start">Total</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            
            
            <!-- end table -->

            <!-- start footer -->
            <footer class="projection-notes d-flex flex-wrap my-3 card-box">
                <p class="ar flex-fill">
                </p>
                <p class="en flex-fill">
                </p>
            </footer>
            <!-- end footer -->

            <!-- end content -->
        </div>
    </div>
</div>