<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [isWorkDataActive]="isWorkDataActive"
            (setInLocalStorage)="setDataLocalStorage()"></app-navigate-tables-types>
        <!-- start table -->

        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    معلومات عامه
                </div>
                <div class="title flex-fill en">
                    General Information
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th class="col-3" scope="col">البيان</th>
                            <th class="text-center col-3" scope="col"></th>
                            <th class="text-start col-3" scope="col">Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workQues of workData">
                            <td style="text-wrap: balance;">{{workQues.arName}}</td>
                            <td class="text-center" *ngIf="!workQues.isSelect">
                                <input type="text" style="width: 100%;" [(ngModel)]="workQues.inputValue" />
                            </td>
                            <td class="text-center" *ngIf="workQues.isSelect && workQues.arName === 'المحافظة : '">
                                <select style="width: 100% !important; 
                                border-color: #c9cdd0;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 6px;
                                text-align: center;
                                padding: 1px 7px;
                                color: #7b7890;" (change)="GetWilayat(+workQues.inputValue)"
                                    [(ngModel)]="workQues.inputValue">
                                    <option selected value="0">--اختر المحافظه--</option>
                                    <option *ngFor="let governorate of Governorates" value="{{ governorate.id }}">
                                        {{ governorate.arName }}
                                    </option>
                                </select>
                            </td>
                            <td class="text-center" *ngIf="workQues.isSelect && workQues.arName === 'الولاية : '">
                                <select style="width: 100% !important;
                                border-color: #c9cdd0;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 6px;
                                text-align: center;
                                padding: 1px 7px;
                                color: #7b7890;" [(ngModel)]="workQues.inputValue">
                                    <option selected value="0">--اختر الولاية--</option>
                                    <option *ngFor="let wilaya of Wilayat" value="{{ wilaya.id }}">
                                        {{ wilaya.arName }}
                                    </option>
                                </select>
                            </td>
                            <td class="text-center"
                                *ngIf="workQues.isSelect && workQues.arName === 'الكيان القانونى للمنشأة ( يرجى وضع اشارة صح على حالةالمنشأة) : '">
                                <select class="form-control" name="coverForm.GeneralData.ChekInfo"
                                [(ngModel)]="workQues.inputValue"
                                    style="width: 50% !important;border: solid 1px;display: inline;">
                                    <option value="">--اختر الشكل القانوني--</option>
                                    <option [ngValue]="1">منشاة فردية</option>
                                    <option [ngValue]="2">تضامنية</option>
                                    <option [ngValue]="3">توصية</option>
                                    <option [ngValue]="4">محاصة</option>
                                    <option [ngValue]="5">مساهمة ( عامه او مقفله )</option>
                                    <option [ngValue]="6">محدودة المسؤولية</option>
                                    <option [ngValue]="7">فرع شركة اجنبية</option>
                                    <option [ngValue]="8">أخرى (حدد)</option>
                                </select>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">{{workQues.enName}}</td>
                        </tr>
                        <tr *ngIf="coverForm.Type ==2">
                            <td style="text-wrap: balance;">جنسية المستثمر</td>
                            <td class="text-center">
                                    <select class="form-control" style="width: 100% !important; 
                                    border-width: 1px;
                                    border-style: solid;
                                    border-radius: 6px;
                                    text-align: center;
                                    padding: 1px 7px;"
                                        name="coverForm.GeneralData.dataSource"
                                        [(ngModel)]="coverForm.GeneralData.countruId">
                                        <option value="0"></option>
                                        <option value={{country.id}} *ngFor="let country of countries">{{country.arName}}</option>
                                    </select>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Investor's Nationality</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">الفترة او السنه الماليه</td>
                            <td class="text-center" style="display: flex;">
                                <div class="input-floating-label mb-0" style="padding: inherit;">
                                    <input type="date" style="width: 100%;" [(ngModel)]="coverForm.GeneralData.to">
                                    <label for="user" style="font-size: larger;">To</label>
                                </div>
                                <div class="input-floating-label mb-0" style="padding: inherit;">
                                    <input type="date" style="width: 100%;" [(ngModel)]="coverForm.GeneralData.from">
                                    <label for="user" style="font-size: larger;">From</label>
                                </div>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Accounting Period</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">استخدم المربع ادناه لوصف النشاط الرئيسى</td>
                            <td class="text-center">
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Use the box below to describe the
                                main activity</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;"></td>
                            <td class="text-center">
                                <textarea style="width: 100%;"
                                    [(ngModel)]="coverForm.GeneralData.describeMainActivity"></textarea>
                            </td>
                            <td style="text-wrap: balance;" class="text-start"></td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">مصدر اليانات</td>
                            <td class="text-center">
                                <div class="input-floating-label mb-0" style="padding: inherit;">
                                    <select class="form-control"
                                        style="width: 50% !important;border: solid 1px;display: inline;"
                                        name="coverForm.GeneralData.dataSource"
                                        [(ngModel)]="coverForm.GeneralData.dataSource">
                                        <option value="0"></option>
                                        <option value="1">سجلات محاسبية - Statements</option>
                                        <option value="2">تقديرات - Estimates</option>
                                        <option value="3">سجلات محاسبية و تقديرات معا - Statements and Estimates
                                        </option>
                                    </select>
                                    <label for="user"
                                        style="font-size: larger;margin-right: 84px;margin-top: 5px;">اختيار مصدر
                                        اليانات</label>
                                </div>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Source of data</td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->
        <!-- end content -->
    </div>
</div>