<div class="companies-details form-details prev-form" style="width: 100%;">
    <div class="header-nav" style="margin-bottom: -10px">
        <app-navigate-tables-types [coverForm]="coverForm" [isWorkDataActive]="isWorkDataActive"
            (setInLocalStorage)="setDataLocalStorage()"></app-navigate-tables-types>
        <!-- start table -->

        <div class="content companies projection-table">
            <div class="header d-flex flex-wrap">
                <div class="title flex-fill">
                    معلومات عامه
                </div>
                <div class="title flex-fill en">
                    General Information
                </div>
            </div>
            <div class="table-responsive company-table">
                <table class="table table-borderless">
                    <thead>
                        <tr class="t-header">
                            <th class="col-3" scope="col">البيان</th>
                            <th class="text-center col-3" scope="col"></th>
                            <th class="text-start col-3" scope="col">Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workQues of workData">
                            <td style="text-wrap: balance;">{{workQues.arName}}</td>
                            <td class="text-center">
                                <input type="text" style="width: 100%;" [(ngModel)]="workQues.inputValue" />
                            </td>
                            <td style="text-wrap: balance;" class="text-start">{{workQues.enName}}</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">الكيان القانونى للمنشأة ( يرجى وضع اشارة صح على حالة
                                المنشأة)</td>
                            <td class="text-center">
                                <select class="form-control"
                                    style="width: 50% !important;border: solid 1px;display: inline;">
                                    <option value="0"></option>
                                    <option value="1" *ngFor="let workChk of workDataChk; let i = index">{{workChk.arName}} - {{workChk.enName}}</option>
                                </select>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">The Legal Type of Organization (tick
                                approprate reponse)</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">الفترة او السنه الماليه</td>
                            <td class="text-center" style="display: flex;">
                                <div class="input-floating-label mb-0" style="padding: inherit;">
                                    <input type="date" style="width: 100%;" [(ngModel)]="coverForm.GeneralData.to">
                                    <label for="user" style="font-size: larger;">To</label>
                                </div>
                                <div class="input-floating-label mb-0" style="padding: inherit;">
                                    <input type="date" style="width: 100%;" [(ngModel)]="coverForm.GeneralData.from">
                                    <label for="user" style="font-size: larger;">From</label>
                                </div>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Accounting Period</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">استخدم المربع ادناه لوصف النشاط الرئيسى</td>
                            <td class="text-center">
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Use the box below to describe the
                                main activity</td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;"></td>
                            <td class="text-center">
                                <textarea style="width: 100%;"
                                    [(ngModel)]="coverForm.GeneralData.describeMainActivity"></textarea>
                            </td>
                            <td style="text-wrap: balance;" class="text-start"></td>
                        </tr>
                        <tr>
                            <td style="text-wrap: balance;">مصدر اليانات</td>
                            <td class="text-center">
                                <select class="form-control"
                                    style="width: 50% !important;border: solid 1px;display: inline;"
                                    name="coverForm.GeneralData.dataSource"
                                    [(ngModel)]="coverForm.GeneralData.dataSource">
                                    <option value="0"></option>
                                    <option value="1">سجلات محاسبية - Statements</option>
                                    <option value="2">تقديرات - Estimates</option>
                                    <option value="3">سجلات محاسبية و تقديرات معا - Statements and Estimates</option>
                                </select>
                            </td>
                            <td style="text-wrap: balance;" class="text-start">Source of data</td>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- end table -->
        <!-- end content -->
    </div>
</div>