<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'عرض الاستمارة'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <div class="companies-details form-details prev-form">
        <div class="header-nav" style="margin-bottom: -10px">
            <!-- start table -->
            <div class="content companies projection-table">
                <div class="header d-flex flex-wrap">
                    <div class="title flex-fill">
                        test
                    </div>
                    <div class="title flex-fill en">
                        test
                    </div>
                </div>
                <div class="table-responsive company-table">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="t-header">
                                <th scope="col">البيان</th>
                                <th class="text-center" scope="col">نهاية عام Year-end 2022</th>
                                <th class="text-center" scope="col">التعاملات خلال Transactions during 2021</th>
                                <th class="text-center" scope="col">نهاية عام Year-end 2021</th>
                                <th class="text-center" scope="col">الرمز Code</th>
                                <th class="text-start" scope="col">Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Row 1 Data 1</td>
                                
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="text" value="Code 1" />
                                </td>
                                <td class="text-start">Row 1 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 2 Data 1</td>
                                
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="text" value="Code 2" />
                                </td>
                                <td class="text-start">Row 2 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 3 Data 1</td>
                                
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="text" value="Code 3" />
                                </td>
                                <td class="text-start">Row 3 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 4 Data 1</td>
                                
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="text" value="Code 4" />
                                </td>
                                <td class="text-start">Row 4 Data 2</td>
                            </tr>
                            <tr>
                                <td>Row 5 Data 1</td>
                                
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="number" placeholder="0" />
                                </td>
                                <td class="text-center">
                                    <input type="text" value="Code 5" />
                                </td>
                                <td class="text-start">Row 5 Data 2</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- end table -->

            <!-- start footer -->
            <footer class="projection-notes d-flex flex-wrap my-3 card-box">
                <p class="ar flex-fill">
                </p>
                <p class="en flex-fill">
                </p>
            </footer>
            <!-- end footer -->

            <!-- end content -->
        </div>
    </div>
</div>