<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'عرض الاستمارة'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <div class="companies-details form-details prev-form">
        <div class="header-nav" style="margin-bottom: -10px">
            <app-navigate-tables-types [coverForm]="form"></app-navigate-tables-types>
            <!-- start table -->
            <div class="content companies projection-table">
                <div class="header d-flex flex-wrap">
                    <div class="title flex-fill">
                        {{table.arName}}
                    </div>
                    <div class="title flex-fill en">
                        {{table.enName}}
                    </div>
                </div>
                <div class="table-responsive company-table">
                    <table class="table table-borderless">
                        <thead>
                            <tr class="t-header">
                                <th scope="col">البيان</th>
                                <th class="text-center" scope="col">نهاية عام Year-end {{form.reviewYear}}</th>
                                <th class="text-center" scope="col">التعاملات خلال Transactions during
                                    {{+form.reviewYear - 1}}</th>
                                <th class="text-center" scope="col">نهاية عام Year-end {{+form.reviewYear - 1}}</th>
                                <th class="text-center" scope="col">الرمز Code</th>
                                <th class="text-start" scope="col">Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let formContent of table.formContents">
                                <tr>
                                    <td>{{formContent.code.arName}}</td>
                                    <td class="text-center">
                                        <input [(ngModel)]="lastYear" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input [(ngModel)]="transaction" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input [(ngModel)]="nextYear" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" disabled value="{{formContent.code.QuestionCode}}" />
                                    </td>
                                    <td class="text-start">{{formContent.code.enName}}</td>
                                </tr>
                                <tr *ngFor="let subCode of formContent.code.SubCodes">
                                    <td style="color: orange;">{{subCode.arName}}</td>
                                    <td class="text-center">
                                        <input [(ngModel)]="lastYear" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input [(ngModel)]="transaction" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input [(ngModel)]="nextYear" (ngModelChange)="calculateTransaction()"
                                            type="number" placeholder="0" />
                                    </td>
                                    <td class="text-center">
                                        <input type="text" disabled value="{{subCode.QuestionCode}}" />
                                    </td>
                                    <td class="text-start" style="color: orange;">{{subCode.enName}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- end table -->

            <!-- start footer -->
            <footer class="projection-notes d-flex flex-wrap my-3 card-box">
                <p class="ar flex-fill">
                </p>
                <p class="en flex-fill">
                </p>
            </footer>
            <!-- end footer -->

            <!-- end content -->
        </div>
    </div>
</div>