<app-loader *ngIf="Loader"></app-loader>

<div class="main-content p-4 main card" style="flex: 1">
    <!-- header -->
    <app-top-screen [title]="'عرض الاستمارة'"></app-top-screen>
    <!-- end-header -->
    <!-- start content -->
    <app-shared-quarter-table [formId]="formId" style="min-width: 92rem;max-width: 92rem;" *ngIf="role == 'Researchers'"></app-shared-quarter-table>
    <app-shared-quarter-table [formId]="formId" style="max-width: 74rem;" *ngIf="role != 'Researchers'"></app-shared-quarter-table>
</div>